Repository astronomer/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paolaperaza, @lzdanski, @TJaniF, @merobi-hub, @kentdanas, @astronomer/airflow-release-team

Replace image
  static/img/docs/dash-cost-breakdown-v2.png
  static/img/docs/dash-cost-breakdown.png
Owners: none

Change flag
  astro/organization-dashboard.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update image
  static/img/docs/dash-deployment-detail-v2.png
  static/img/docs/dash-deployment-detail.png
Owners: none

Remove public preview
  astro/org-dash-exports.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update astro/cli/release-notes.md
  astro/cli/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/organization-dashboard.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

1.28.1 Release Notes (#3979)
  astro/cli/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update dbt Core guidance in airflow-dbt tutorial for Q2 platform release (#3912)
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Best Practices guide on managing resources (#3933)
  astro/best-practices/airflow-vs-astro-alerts.md
  astro/best-practices/manage-resources.md
  sidebarsAstro.js
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/best-practices/repo-structure.mdx
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub

suggestions
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

clarity
  astro/export-datadog.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

New doc for cluster policies (#3891)
  learn/airflow-advanced-cluster-policies.md
  sidebarsLearn.js
  static/img/guides/airflow-advanced-cluster-policies_diagram.png
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Update DBX tutorial (#3974)
  code-samples/dags/airflow-databricks/databricks_tutorial_dag.py
  learn/airflow-databricks.md
  static/img/guides/airflow_databricks_provider_dag_graph.png
  static/img/guides/astro_databricks_provider_dag_graph.png
  static/img/guides/databricks_workflow.png
Owners: @TJaniF, @kentdanas, @merobi-hub, @paolaperaza, @lzdanski

Simplified version with 2 options.
  astro/best-practices/repo-structure.mdx
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub

.github/CODEOWNERS:

*.md @paolaperaza @lzdanski

/astro/ @TJaniF @paolaperaza @lzdanski @merobi-hub

/software/ @TJaniF @paolaperaza @lzdanski @merobi-hub

/learn/ @TJaniF @kentdanas @paolaperaza @lzdanski @merobi-hub

/code-samples/dags/ @TJaniF @kentdanas @merobi-hub

/astro/best-practices/ @TJaniF @kentdanas @lzdanski @merobi-hub

/astro/runtime-release-notes.md @astronomer/airflow-release-team
