Repository astronomer/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jwitz, @paolaperaza, @lzdanski, @TJaniF, @kentdanas

.github/CODEOWNERS:

*.md @jwitz @paolaperaza @lzdanski

/astro/ @jwitz @paolaperaza @lzdanski

/software/ @jwitz @paolaperaza @lzdanski

/learn/ @TJaniF @kentdanas @jwitz @paolaperaza @lzdanski

First draft pass
  astro/view-logs.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update configure-worker-queues.md to follow pep8
  astro/configure-worker-queues.md
Owners: @jwitz, @paolaperaza, @lzdanski

Review comments
  astro/pipeline-alerts.md
Owners: @jwitz, @paolaperaza, @lzdanski

Astro 4/11 release notes
  astro/release-notes.md
  astro/resource-reference-gcp.md
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  learn/dynamic-tasks.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Update GCS and S3 docs
  astro/ci-cd-templates/aws-s3.md
  astro/ci-cd-templates/gcs.md
  astro/ci-cd-templates/github-actions.md
  astro/cli/astro-deployment-update.md
  astro/migrate-gcc.mdx
  astro/migrate-mwaa.mdx
  learn/airflow-mongodb.md
  learn/external-python-operator.md
  static/astro-cli-release-notes.xml
  static/astro-release-notes.xml
  static/astro-runtime-release-notes.xml
  static/astro-software-release-notes.xml
  static/astro-software-runtime-release-notes.xml
Owners: @jwitz, @paolaperaza, @lzdanski, @TJaniF, @kentdanas

Update link text
  astro/migrate-gcc.mdx
  astro/migrate-mwaa.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Update link text
  astro/migrate-gcc.mdx
  astro/migrate-mwaa.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Typo
  astro/kubernetespodoperator.md
Owners: @jwitz, @paolaperaza, @lzdanski

Add note about newer Python versions
  learn/external-python-operator.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Update astro/release-notes.md
  astro/release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/release-notes.md
  astro/release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update min GCP quota requirements
  astro/install-gcp.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/airflow-api.mdx
  astro/airflow-api.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/airflow-api.mdx
  astro/airflow-api.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Add GCP trial quotas
  astro/trial.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/trial.md
  astro/trial.md
Owners: @jwitz, @paolaperaza, @lzdanski

fix audit logs export command
  astro/audit-logs.md
Owners: @jwitz, @paolaperaza, @lzdanski

Fix 61 > 6i typos in worker instance types
  astro/resource-reference-aws.md
Owners: @jwitz, @paolaperaza, @lzdanski

Review edits
  astro/pipeline-alerts.md
Owners: @jwitz, @paolaperaza, @lzdanski

Fix typos
  astro/pipeline-alerts.md
Owners: @jwitz, @paolaperaza, @lzdanski

Rendering fix
  astro/pipeline-alerts.md
Owners: @jwitz, @paolaperaza, @lzdanski

Docusaurus formatting
  astro/pipeline-alerts.md
Owners: @jwitz, @paolaperaza, @lzdanski

Correction
  astro/pipeline-alerts.md
Owners: @jwitz, @paolaperaza, @lzdanski

Start of W&B tutorial
  learn/airflow-weights-and-biases.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

wandb tutorial updates and example DAG
  code-samples/dags/airflow-weights-and-biases/weights_and_biases.py
  learn/airflow-weights-and-biases.md
  static/img/guides/wandb_results.png
  static/img/guides/wandb_task_logs.png
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

fix link
  learn/airflow-weights-and-biases.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Add to sidebar
  sidebarsLearn.js
Owners: none

Add to intro
  astro/environment-variables.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update configure-deployment-resources.md
  astro/configure-deployment-resources.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/install-gcp.md
  astro/install-gcp.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/install-gcp.md
  astro/install-gcp.md
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  astro/environment-variables.md
  astro/executors.md
  astro/kubernetespodoperator.md
  software/kubernetes-executor.md
Owners: @jwitz, @paolaperaza, @lzdanski

fixed doc links for new registry for common provider
  learn/airflow-branch-operator.md
  learn/airflow-snowflake.md
  learn/airflow-sql-data-quality.md
  learn/data-quality.md
  learn/what-is-a-sensor.md
  learn/what-is-an-operator.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Update astro/environment-variables.md
  astro/environment-variables.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/manage-workspaces.md
  astro/manage-workspaces.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/ci-cd-templates/gcs.md
  astro/ci-cd-templates/gcs.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update based on discussion with nick
  astro/configure-idp.md
  sidebarsAstro.js
  static/_redirects
Owners: @jwitz, @paolaperaza, @lzdanski

add doc
  astro/manage-domains.md
Owners: @jwitz, @paolaperaza, @lzdanski

Re-draft SSO page (#2100)
  astro/configure-idp.md
  astro/manage-domains.md
  astro/manage-organization.md
  sidebarsAstro.js
  static/_redirects
Owners: @jwitz, @paolaperaza, @lzdanski
