Repository astronomer/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paolaperaza, @lzdanski, @TJaniF, @merobi-hub, @kentdanas, @astronomer/airflow-release-team

.github/CODEOWNERS:

*.md @paolaperaza @lzdanski

/astro/ @TJaniF @paolaperaza @lzdanski @merobi-hub

/software/ @TJaniF @paolaperaza @lzdanski @merobi-hub

/learn/ @TJaniF @kentdanas @paolaperaza @lzdanski @merobi-hub

/code-samples/dags/ @TJaniF @kentdanas @merobi-hub

/astro/best-practices/ @TJaniF @kentdanas @lzdanski @merobi-hub

/astro/runtime-release-notes.md @astronomer/airflow-release-team

Update astro/release-notes.md
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update astro/release-notes.md
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

7.23 astro release notes (#3961)
  astro/deployment-resources.md
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

reworded and added cloud provider context
  astro/export-datadog.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-databricks.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

remove upfront code block
  learn/airflow-databricks.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Recommended fixes from code review plus format fix in alerts guide.
  astro/best-practices/airflow-vs-astro-alerts.md
  astro/best-practices/manage-resources.md
  sidebarsAstro.js
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub

changes suggested by Olivier
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

add diagram
  static/img/guides/airflow-advanced-cluster-policies_diagram.png
Owners: none

Apply suggestions from code review.
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Make minor updates to the Organization Dashboard doc
  astro/organization-dashboard.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add updated screenshots
  static/img/docs/dash-cost-breakdown-v2.png
  static/img/docs/dash-deployment-detail-v2.png
Owners: none

Update software/integrate-iam.md
  software/integrate-iam.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/configure-component-size-limits.md
  software/configure-component-size-limits.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/configure-component-size-limits.md
  software/configure-component-size-limits.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/configure-component-size-limits.md
  software/configure-component-size-limits.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/configure-component-size-limits.md
  software/configure-component-size-limits.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/configure-component-size-limits.md
  software/configure-component-size-limits.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/configure-component-size-limits.md
  software/configure-component-size-limits.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/configure-component-size-limits.md
  software/configure-component-size-limits.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/configure-component-size-limits.md
  software/configure-component-size-limits.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/configure-component-size-limits.md
  software/configure-component-size-limits.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/configure-component-size-limits.md
  software/configure-component-size-limits.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Update learn/airflow-advanced-cluster-policies.md
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

suggestions
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Add release notes
  astro/cli/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/universal-metrics-export.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/alerts.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub
