Repository astronomer/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paolaperaza, @lzdanski, @TJaniF, @merobi-hub, @kentdanas, @astronomer/airflow-release-team

.github/CODEOWNERS:

*.md @paolaperaza @lzdanski

/astro/ @TJaniF @paolaperaza @lzdanski @merobi-hub

/software/ @TJaniF @paolaperaza @lzdanski @merobi-hub

/learn/ @TJaniF @kentdanas @paolaperaza @lzdanski @merobi-hub

/code-samples/dags/ @TJaniF @kentdanas @merobi-hub

/astro/best-practices/ @TJaniF @kentdanas @lzdanski @merobi-hub

/astro/runtime-release-notes.md @astronomer/airflow-release-team

Misc fixes.
  astro/best-practices/managing-resources.md
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub

Update astro/trial.md
  astro/trial.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add dbt projects on Astro
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

framework
  astro/deploy-dbt-project.md
  sidebarsAstro.js
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Clarify post-trial instructions (#3955)
  astro/trial.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Misc Docs Edits (#3924)
  astro/authorize-deployments-to-your-cloud.md
  astro/kubernetespodoperator.md
  astro/runtime-image-architecture.mdx
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/celery-executor.md
  astro/deployment-resources.md
  astro/release-notes.md
  docs-partials/deployments.mdx
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/cli/astro-dbt-deploy.md
  astro/cli/astro-deployment-update.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/cli/astro-dbt-delete.md
  astro/cli/astro-dbt-deploy.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update release notes links
  astro/cli/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add private preview note
  astro/cli/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

clarify astro dbt descriptions
  astro/cli/astro-dbt-delete.md
  astro/cli/astro-dbt-deploy.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add base dbt deploy info
  astro/deploy-dbt-project.md
  astro/deploy-history.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

fix build error
  astro/deploy-dbt-project.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Deployment files option and typo fixes.
  astro/best-practices/managing-resources.md
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub

Sidebars update and suggestions from code review.
  astro/best-practices/managing-resources.md
  sidebarsAstro.js
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub

Typo fix.
  astro/best-practices/managing-resources.md
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub

Update create-and-link-connections.md (#3959)
  astro/create-and-link-connections.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Reclassify runtime 11 as LTS
  astro/runtime-version-lifecycle-policy.mdx
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add LTS to software docs
  software/runtime-version-lifecycle-policy.mdx
  software_versioned_docs/version-0.34/runtime-version-lifecycle-policy.mdx
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add version 11 to release notes
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Reclassify runtime 11 as LTS (#3966)
  astro/runtime-version-lifecycle-policy.mdx
  software/runtime-version-lifecycle-policy.mdx
  software_versioned_docs/version-0.34/runtime-version-lifecycle-policy.mdx
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update create-and-link-connections.md (#3958)
  astro/create-and-link-connections.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update astro/cli/astro-dbt-delete.md
  astro/cli/astro-dbt-delete.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update astro/first-dag-onboarding.md
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Fix wording from code review
  astro/first-dag-cli.md
  astro/first-dag-github-actions.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/deploy-dbt-project.md
  astro/deploy-history.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update astro/connect-azure.md
  astro/connect-azure.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Private link\endpoints update (#3888)
  astro/connect-aws.md
  astro/connect-azure.md
  astro/connect-gcp.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

dbt doc title in link.
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/cli/astro-dbt-delete.md
  astro/cli/astro-dbt-deploy.md
  astro/cli/astro-deployment-update.md
  astro/cli/astro-organization-audit-logs.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update First DAG with GitHub Actions tutorial (#3915)
  astro/first-dag-github-actions.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/deploy-dbt-project.md
  astro/deploy-history.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  software/version-compatibility-reference.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update deploy-github-integration.md
  astro/deploy-github-integration.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update export-datadog.md with tag docs
  astro/export-datadog.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Table with common scenarios.
  astro/best-practices/managing-resources.md
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub
