Repository astronomer/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paolaperaza, @lzdanski, @TJaniF, @merobi-hub, @kentdanas, @astronomer/airflow-release-team

[create-pull-request] automated change
  api/fern/apis/platform/openapi/openapi.yaml
Owners: none

Update version-compatibility-reference.md (#3951)
  software/version-compatibility-reference.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

better formatting for fields
  astro/export-datadog.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Reorganize to emphasize CMWI
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

revert change
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update release notes
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Restructure, promote to GA
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Docs updates
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add resources link
  astro/universal-metrics-export.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Finish updates
  astro/universal-metrics-export.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  learn/airflow-advanced-cluster-policies.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Add examples
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update DBX tutorial
  code-samples/dags/airflow-databricks/databricks_tutorial_dag.py
  learn/airflow-databricks.md
  static/img/guides/airflow_databricks_provider_dag_graph.png
  static/img/guides/astro_databricks_provider_dag_graph.png
  static/img/guides/databricks_workflow.png
Owners: @TJaniF, @kentdanas, @merobi-hub, @paolaperaza, @lzdanski

Add code sample
  astro/universal-metrics-export.md
  code-samples/metrics-export/grafana-cloud/grafana-cloud-dash.json
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

add optional steps
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

change note formatting
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Fix formatting
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/deploy-dbt-project.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Formatting attempt 3
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update astro/deploy-dbt-project.md
  astro/deploy-dbt-project.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add special config steps
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

address review comments
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

fix formatting
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Elaborate on dbt delete
  astro/deploy-dbt-project.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update astro/first-dag-onboarding.md
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update GitHub Onboarding (#3962)
  astro/first-dag-cli.md
  astro/first-dag-github-actions.md
  astro/first-dag-onboarding.md
  sidebarsAstro.js
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Mark Github Integration as GA (#3968)
  astro/deploy-github-integration.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

fix note formatting
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Hotfix typo
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Hotfix typo (#3977)
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

AWS CMWI GA (#3972)
  astro/authorize-deployments-to-your-cloud.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add review comments
  astro/universal-metrics-export.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add images
  astro/universal-metrics-export.md
  static/img/docs/ume-example-collapsed.png
  static/img/docs/ume-example-dags.png
  static/img/docs/ume-example-scheduler.png
  static/img/docs/ume-example-worker.png
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/universal-metrics-export.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/deploy-dbt-project.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

CLI Release updates (#3960)
  astro/cli/astro-dbt-delete.md
  astro/cli/astro-dbt-deploy.md
  astro/cli/astro-deployment-logs.md
  astro/cli/astro-deployment-update.md
  astro/cli/astro-organization-audit-logs.md
  astro/cli/release-notes.md
  docusaurus.config.js
  sidebarsAstro.js
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add cli commands
  astro/deploy-dbt-project.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

3963 dbt on astro (#3964)
  astro/deploy-dbt-project.md
  astro/deploy-history.md
  sidebarsAstro.js
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

.github/CODEOWNERS:

*.md @paolaperaza @lzdanski

/astro/ @TJaniF @paolaperaza @lzdanski @merobi-hub

/software/ @TJaniF @paolaperaza @lzdanski @merobi-hub

/learn/ @TJaniF @kentdanas @paolaperaza @lzdanski @merobi-hub

/code-samples/dags/ @TJaniF @kentdanas @merobi-hub

/astro/best-practices/ @TJaniF @kentdanas @lzdanski @merobi-hub

/astro/runtime-release-notes.md @astronomer/airflow-release-team
