Repository astronomer/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paolaperaza, @lzdanski, @TJaniF, @merobi-hub, @kentdanas, @astronomer/airflow-release-team

add note (#3949)
  learn/airflow-mlops.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

resolve 3886
  astro/kubernetespodoperator.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update software/integrate-iam.md
  software/integrate-iam.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  software/integrate-iam.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

clarify what components are doing with their roles
  software/integrate-iam.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update version-compatibility-reference.md
  software/version-compatibility-reference.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

link to astro org audit logs from astro-org category
  sidebarsAstro.js
Owners: none

extending app-builder in template
  learn/using-airflow-plugins.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

add first pass structure
  astro/first-dag-cli.md
  astro/first-dag-github-actions.md
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

fixed formatting
  astro/runtime-provider-reference.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add 9.17 release notes (#3946)
  astro/runtime-provider-reference.md
  astro/runtime-release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub, @astronomer/airflow-release-team

Updating screenshot with appbuilder view
  static/img/guides/plugins_test_view.png
Owners: none

HTML to extend AppBuilder view in Airflow Plugin (#3954)
  learn/using-airflow-plugins.md
  static/img/guides/plugins_test_view.png
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

Clarify post-trial instructions
  astro/trial.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

tweak
  astro/trial.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Fleshed out opener and misc fixes.
  astro/best-practices/managing-resources.md
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub

Update create-and-link-connections.md
  astro/create-and-link-connections.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update create-and-link-connections.md
  astro/create-and-link-connections.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add base command ref
  astro/cli/astro-dbt-delete.md
  astro/cli/astro-dbt-deploy.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add to sidebar
  sidebarsAstro.js
Owners: none

Add 1.27 ref value
  astro/cli/astro-deployment-update.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add 1.27 reference
  astro/cli/astro-deployment-logs.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Change CLI version
  docusaurus.config.js
Owners: none

First draft notes
  astro/cli/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add base release notes
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add worker increase
  astro/celery-executor.md
  astro/deployment-resources.md
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add extra large scheduler #22352
  astro/deployment-resources.md
  astro/release-notes.md
  docs-partials/deployments.mdx
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add 22549
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add template descriptions
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

fix hyperlink
  astro/release-notes.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

First pass
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

update sidebar
  sidebarsAstro.js
Owners: none

Misc style fixes.
  astro/best-practices/managing-resources.md
Owners: @TJaniF, @kentdanas, @lzdanski, @merobi-hub

Fix build
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/create-and-link-connections.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Update astro/create-and-link-connections.md
  astro/create-and-link-connections.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Address 3884
  astro/cli/astro-organization-audit-logs.md
  sidebarsAstro.js
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Apply suggestions from code review
  astro/authorize-deployments-to-your-cloud.md
  astro/runtime-image-architecture.mdx
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

Add intro details
  astro/first-dag-onboarding.md
Owners: @TJaniF, @paolaperaza, @lzdanski, @merobi-hub

URL for link to new doc.
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @paolaperaza, @lzdanski, @merobi-hub

.github/CODEOWNERS:

*.md @paolaperaza @lzdanski

/astro/ @TJaniF @paolaperaza @lzdanski @merobi-hub

/software/ @TJaniF @paolaperaza @lzdanski @merobi-hub

/learn/ @TJaniF @kentdanas @paolaperaza @lzdanski @merobi-hub

/code-samples/dags/ @TJaniF @kentdanas @merobi-hub

/astro/best-practices/ @TJaniF @kentdanas @lzdanski @merobi-hub

/astro/runtime-release-notes.md @astronomer/airflow-release-team
