Repository astronomer/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jwitz, @paolaperaza, @TJaniF, @kentdanas

Apply suggestions from code review
  astro/cli/astro-deployment-delete.md
  astro/cli/release-notes.md
  astro/configure-deployment-resources.md
  astro/deploy-code.md
  astro/install-aws.md
  astro/install-azure.md
  astro/install-gcp.md
  astro/release-notes.md
  astro/user-permissions.md
  learn/cloud-ide-tutorial.md
Owners: @jwitz, @paolaperaza, @TJaniF, @kentdanas

Apply suggestions from code review
  astro/add-user.md
  astro/cli/astro-workspace-user-add.md
Owners: @jwitz, @paolaperaza

Update astro/release-notes.md
  astro/release-notes.md
Owners: @jwitz, @paolaperaza

Update astro/cloud-ide/deploy-project.md
  astro/cloud-ide/deploy-project.md
Owners: @jwitz, @paolaperaza

Update astro/cloud-ide/deploy-project.md
  astro/cloud-ide/deploy-project.md
Owners: @jwitz, @paolaperaza

remove GithubTagSensor parts
  code-samples/dags/airflow-fivetran/fivetran_tutorial_dag_1.py
  learn/airflow-fivetran.md
  static/img/guides/fivetran_simple_dag_grid.png
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza

explain what up and downstream tasks could contain
  learn/airflow-fivetran.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza

Resolve review comments
  README.md
Owners: @jwitz, @paolaperaza

Split into separate docs
  astro/_migration-setup.mdx
  astro/migrate-apache-airflow.mdx
  astro/migrate-gcc.mdx
  astro/migrate-mwaa.mdx
  sidebarsAstro.js
Owners: @jwitz, @paolaperaza

Fix sidebar
  sidebarsAstro.js
Owners: none

Fix sidebar again
  astro/migration.md
  sidebarsAstro.js
Owners: @jwitz, @paolaperaza

Fix import
  astro/migrate-gcc.mdx
  astro/migrate-mwaa.mdx
Owners: @jwitz, @paolaperaza

Add feedback
  README.md
Owners: @jwitz, @paolaperaza

Update KE limitations text
  astro/configure-deployment-resources.md
Owners: @jwitz, @paolaperaza

Update wording
  astro/configure-deployment-resources.md
Owners: @jwitz, @paolaperaza

More wording tweaks
  astro/configure-deployment-resources.md
  astro/kubernetes-executor.md
  astro/manage-astro-executors.md
Owners: @jwitz, @paolaperaza

Import fix for provider
  learn/airflow-azure-container-instances.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza

Apply suggestions from code review
  software/customize-image.md
Owners: @jwitz, @paolaperaza

proofread 1
  learn/airflow-fivetran.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza

proofread 2
  code-samples/dags/airflow-fivetran/fivetran_tutorial_dag_1.py
  learn/airflow-fivetran.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza

Create GitLab documentation
  astro/cloud-ide/deploy-project.md
  static/astro-cli-release-notes.xml
  static/astro-release-notes.xml
  static/astro-runtime-release-notes.xml
  static/astro-software-release-notes.xml
  static/astro-software-runtime-release-notes.xml
Owners: @jwitz, @paolaperaza

Typo
  astro/cloud-ide/deploy-project.md
Owners: @jwitz, @paolaperaza

Apply suggestions from code review
  README.md
Owners: @jwitz, @paolaperaza

Astro 3/14 release notes
  astro/add-user.md
  astro/release-notes.md
  astro/resource-reference-gcp.md
  astro/user-permissions.md
Owners: @jwitz, @paolaperaza

Update astro/resource-reference-gcp.md
  astro/resource-reference-gcp.md
Owners: @jwitz, @paolaperaza

Update astro/release-notes.md
  astro/release-notes.md
Owners: @jwitz, @paolaperaza

Product sign up form WIP
  astro/release-notes.md
  docusaurus.config.js
  src/components/NewsletterForm/index.js
  src/components/NewsletterForm/styles.module.css
  src/theme/DocSidebar/Desktop/Content/index.js
Owners: @jwitz, @paolaperaza

Tweak design, font size. Remove sidebar widget
  src/components/NewsletterForm/styles.module.css
  src/theme/DocSidebar/Desktop/Content/index.js
Owners: none

checkin - moved to partials, partway through "Migrate DAGs"
  astro/_migration-setup.mdx
  astro/migrate-apache-airflow.mdx
  astro/migrate-astronomer.mdx
  astro/migrate-gcc.mdx
  astro/migrate-mwaa.mdx
  astro/migration-partials/cutover.mdx
  astro/migration-partials/deployments.mdx
  astro/migration-partials/directory_setup.mdx
  astro/migration-partials/intro.mdx
  astro/migration-partials/prereqs.mdx
  astro/migration-partials/requirements.mdx
  astro/migration-partials/runtime_version_info.mdx
  astro/migration-partials/starship.mdx
  astro/migration-partials/starship_usage.mdx
  astro/migration-partials/workspaces.mdx
  sidebarsAstro.js
Owners: @jwitz, @paolaperaza

Add a note about requirements.txt for new-to-python folks
  astro/develop-project.md
Owners: @jwitz, @paolaperaza

typo
  astro/develop-project.md
Owners: @jwitz, @paolaperaza

checkin - finished draft mwaa+gcc
  astro/migrate-apache-airflow.mdx
  astro/migrate-astronomer.mdx
  astro/migrate-gcc.mdx
  astro/migrate-mwaa.mdx
  astro/migration-partials/airflow-configuration.md
  astro/migration-partials/cicd.md
  astro/migration-partials/confirm-connections-variables.md
  astro/migration-partials/cutover.mdx
  astro/migration-partials/dags-only.md
  astro/migration-partials/deploy.md
  astro/migration-partials/deployments.mdx
  astro/migration-partials/directory-setup.md
  astro/migration-partials/final-step.md
  astro/migration-partials/instance-types.md
  astro/migration-partials/intro.md
  astro/migration-partials/monitor-analytics.md
  astro/migration-partials/push.md
  astro/migration-partials/runtime-version-info.md
  astro/migration-partials/secrets-backend.md
  astro/migration-partials/starship-usage.mdx
  astro/migration-partials/test-locally.md
  astro/migration-partials/test-validate-dags.md
  astro/migration-partials/workspaces.md
  astro/migration-partials/wrap-up.md
  astro/migration.md
Owners: @jwitz, @paolaperaza

minor edits
  astro/migrate-gcc.mdx
  astro/migrate-mwaa.mdx
  astro/migration-partials/additional.md
  astro/migration-partials/airflow-configuration.md
  astro/migration-partials/cicd.md
  astro/migration-partials/confirm-connections-variables.md
  astro/migration-partials/cutover.mdx
  astro/migration-partials/dags-only.md
  astro/migration-partials/deploy.md
  astro/migration-partials/final-step.md
  astro/migration-partials/final-step.mdx
  astro/migration-partials/instance-types.md
  astro/migration-partials/monitor-analytics.md
  astro/migration-partials/prereqs.mdx
  astro/migration-partials/push.md
  astro/migration-partials/requirements.mdx
  astro/migration-partials/starship-usage.mdx
  astro/migration-partials/test-validate-dags.md
  astro/migration-partials/wrap-up.md
Owners: @jwitz, @paolaperaza

minor edits
  astro/migration-partials/deployments.mdx
Owners: @jwitz, @paolaperaza

minor edits
  astro/migration-partials/deployments.mdx
  astro/migration-partials/prereqs.mdx
Owners: @jwitz, @paolaperaza

Update for review
  astro/configure-deployment-resources.md
  astro/configure-executors.md
  astro/configure-worker-queues.md
  astro/create-deployment.md
  sidebarsAstro.js
Owners: @jwitz, @paolaperaza

Fix links
  astro/configure-deployment-resources.md
  astro/configure-worker-queues.md
  static/_redirects
Owners: @jwitz, @paolaperaza

Fix links
  sidebarsAstro.js
Owners: none

Update astro/configure-executors.md
  astro/configure-executors.md
Owners: @jwitz, @paolaperaza

Update astro/configure-deployment-resources.md
  astro/configure-deployment-resources.md
Owners: @jwitz, @paolaperaza

.github/CODEOWNERS:

*.md @jwitz @paolaperaza 

/astro/ @jwitz @paolaperaza 

/software/ @jwitz @paolaperaza

/learn/ @TJaniF @kentdanas @jwitz @paolaperaza
