Repository astronomer/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jwitz, @paolaperaza, @lzdanski, @TJaniF, @kentdanas

.github/CODEOWNERS:

*.md @jwitz @paolaperaza @lzdanski

/astro/ @jwitz @paolaperaza @lzdanski

/software/ @jwitz @paolaperaza @lzdanski

/learn/ @TJaniF @kentdanas @jwitz @paolaperaza @lzdanski

Update astro/cli/astro-login.md
  astro/cli/astro-login.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/cli/astro-login.md
  astro/cli/astro-login.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/cli/astro-login.md
  astro/cli/astro-login.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/release-notes.md
  astro/release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

Astro release notes
  astro/astro-support.md
  astro/release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

Add instance type change
  astro/release-notes.md
  astro/resource-reference-gcp.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/configure-worker-queues.md
  astro/configure-worker-queues.md
Owners: @jwitz, @paolaperaza, @lzdanski

Start release notes
  astro/runtime-release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

Start notes
  astro/release-notes.md
  astro/runtime-release-notes.md
  src/versions.js
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  learn/airflow-dbt-cloud.md
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Deprecate AC
  archived_software_docs/astronomer-certified/ac-cve.md
  archived_software_docs/astronomer-certified/ac-support-policy.md
  archived_software_docs/astronomer-certified/image-architecture.md
  archived_software_docs/astronomer-certified/install-packages.md
  archived_software_docs/astronomer-certified/single-node-install.md
  archived_software_docs/astronomer-certified/upgrade-ac.md
  software/documentation-archive.md
  software/migrate-to-runtime.md
  software_versioned_docs/version-0.30/ac-cve.md
  software_versioned_docs/version-0.30/ac-support-policy.md
  software_versioned_docs/version-0.30/image-architecture.md
  software_versioned_docs/version-0.30/install-packages.md
  software_versioned_docs/version-0.30/single-node-install.md
  software_versioned_docs/version-0.30/upgrade-ac.md
  static/_redirects
Owners: @jwitz, @paolaperaza, @lzdanski

Fix sidebar
  sidebarsSoftware.js
  software_versioned_sidebars/version-0.30-sidebars.json
Owners: none

update warning
  archived_software_docs/astronomer-certified/ac-cve.md
  archived_software_docs/astronomer-certified/ac-support-policy.md
  archived_software_docs/astronomer-certified/image-architecture.md
  archived_software_docs/astronomer-certified/install-packages.md
  archived_software_docs/astronomer-certified/single-node-install.md
  archived_software_docs/astronomer-certified/upgrade-ac.md
Owners: @jwitz, @paolaperaza, @lzdanski

Fix links
  software/manage-airflow-versions.md
  software/migrate-to-runtime.md
  software/release-lifecycle-policy.md
  software/upgrade-ac.md
  software/version-compatibility-reference.md
  software_versioned_docs/version-0.30/manage-airflow-versions.md
  software_versioned_docs/version-0.30/migrate-to-runtime.md
  software_versioned_docs/version-0.30/release-lifecycle-policy.md
  software_versioned_docs/version-0.30/version-compatibility-reference.md
Owners: @jwitz, @paolaperaza, @lzdanski

Remove image architecture doc
  software/image-architecture.md
Owners: @jwitz, @paolaperaza, @lzdanski

update docs for new registry urls
  astro/develop-project.md
  learn/airflow-azure-data-explorer.md
  learn/airflow-branch-operator.md
  learn/airflow-databricks.md
  learn/airflow-dbt.md
  learn/airflow-great-expectations.md
  learn/airflow-sagemaker.md
  learn/airflow-talend-integration.md
  learn/get-started-with-airflow-part-2.md
  learn/what-is-an-operator.md
Owners: @jwitz, @paolaperaza, @lzdanski, @TJaniF, @kentdanas

update cert signing process
  astro/data-protection.md
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  astro/develop-project.md
Owners: @jwitz, @paolaperaza, @lzdanski

Correct link for dbt DAGs on the Registry
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Simplify past tense, update style
  astro/migrate-mwaa.mdx
  astro/migration-partials/prereqs.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Update starship install step
  astro/migrate-mwaa.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Workspaces edits
  astro/migration-partials/workspaces.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

review edits 2
  learn/airflow-dbt-cloud.md
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Astro UI deployments
  astro/migration-partials/deployments.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

deployments-as-code
  astro/migration-partials/deployments.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Starship usage
  astro/migration-partials/starship-usage.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Setup
  astro/migrate-mwaa.mdx
  astro/migration-partials/directory-setup.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Deploy edits
  astro/migration-partials/deploy.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

final step
  astro/migration-partials/final-step.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Correct cut over edits
  astro/migrate-mwaa.mdx
  astro/migration-partials/final-step.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Add note, remove identical process claim
  astro/cli/astro-deployment-update.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update notes
  astro/cli/astro-deployment-create.md
  astro/cli/astro-deployment-update.md
Owners: @jwitz, @paolaperaza, @lzdanski

We have to apply those annotations starting from 1.24
  software/upgrade-astronomer.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/release-notes.md
  astro/release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

Template overview changes
  astro/ci-cd-templates/template-overview.md
  static/_redirects
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/upgrade-runtime.md
  astro/upgrade-runtime.md
Owners: @jwitz, @paolaperaza, @lzdanski

Add GitHub actions
  astro/ci-cd-templates/github-actions.md
Owners: @jwitz, @paolaperaza, @lzdanski

Wording tweaks
  astro/ci-cd-templates/template-overview.md
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Remove instance types without resource data
  astro/resource-reference-gcp.md
Owners: @jwitz, @paolaperaza, @lzdanski
