Repository astronomer/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jwitz, @paolaperaza, @lzdanski, @TJaniF, @kentdanas

.github/CODEOWNERS:

*.md @jwitz @paolaperaza @lzdanski

/astro/ @jwitz @paolaperaza @lzdanski

/software/ @jwitz @paolaperaza @lzdanski

/learn/ @TJaniF @kentdanas @jwitz @paolaperaza @lzdanski

rephrase IAM role usage
  astro/connect-aws.md
Owners: @jwitz, @paolaperaza, @lzdanski

review edits 2
  learn/airflow-dbt-cloud.md
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

remove pinned version
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

CI/CD enforcement documentation
  astro/configure-deployment-resources.md
  astro/manage-workspaces.md
Owners: @jwitz, @paolaperaza, @lzdanski

replace onboarding instructions with GCP cloud shell button
  astro/install-gcp.md
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  software/manage-airflow-versions.md
  software/migrate-to-runtime.md
  software/release-lifecycle-policy.md
  software_versioned_docs/version-0.30/manage-airflow-versions.md
  software_versioned_docs/version-0.30/migrate-to-runtime.md
  software_versioned_docs/version-0.30/release-lifecycle-policy.md
  software_versioned_docs/version-0.30/version-compatibility-reference.md
Owners: @jwitz, @paolaperaza, @lzdanski

Remove AC references
  software/version-compatibility-reference.md
  software_versioned_docs/version-0.30/version-compatibility-reference.md
Owners: @jwitz, @paolaperaza, @lzdanski

Remove AC references
  software/manage-airflow-versions.md
  software/task-usage-metrics.md
  software/version-compatibility-reference.md
  software_versioned_docs/version-0.30/manage-airflow-versions.md
  software_versioned_docs/version-0.30/runtime-version-lifecycle-policy.md
  software_versioned_docs/version-0.30/version-compatibility-reference.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update astro/runtime-release-notes.md
  astro/runtime-release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

Add more linking
  astro/configure-deployment-resources.md
  astro/set-up-ci-cd.md
Owners: @jwitz, @paolaperaza, @lzdanski

correct sidebar
  sidebarsAstro.js
Owners: none

Update IDP docs
  astro/configure-idp.md
Owners: @jwitz, @paolaperaza, @lzdanski

Fix typos
  astro/configure-idp.md
Owners: @jwitz, @paolaperaza, @lzdanski

CLI 1.13 release notes
  astro/cli/release-notes.md
  astro/release-notes.md
  src/versions.js
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  astro/migrate-mwaa.mdx
  astro/migration-partials/workspaces.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Convert back to tip
  astro/migrate-mwaa.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

clarify caution note
  astro/migration-partials/starship-usage.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Typo
  astro/ci-cd.md
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Julian review changes
  code-samples/dags/airflow-dbt/cosmos_dag.py
  learn/airflow-dbt-cloud.md
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

fix bashoperator example to work with venv
  code-samples/dags/airflow-dbt/airflow_dbt_bashoperator.py
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

add note about registry and repository
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Update dynamically-generating-dags.md
  learn/dynamically-generating-dags.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Update astro/create-dag.md
  astro/create-dag.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update deprecated example
  astro/set-up-data-lineage.md
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  astro/cli/release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

Preview Deployment documentation (#2076)
  astro/ci-cd-templates/github-actions.md
  astro/ci-cd-templates/template-overview.md
  static/_redirects
Owners: @jwitz, @paolaperaza, @lzdanski

Updates/fast-fixes
  astro/cli/astro-organization-user-invite.md
  astro/cli/release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

Add example links
  astro/cli/release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

Add Python Airflow API token instructions
  astro/airflow-api.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Fix typo in dynamic-tasks.md
  learn/dynamic-tasks.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Add link to note
  astro/cli/release-notes.md
Owners: @jwitz, @paolaperaza, @lzdanski

change < to [ for mdx
  astro/airflow-api.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

First pass changes per review
  astro/ci-cd-templates/jenkins.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update overview doc
  astro/ci-cd-templates/template-overview.md
Owners: @jwitz, @paolaperaza, @lzdanski

Jenkins updates
  astro/ci-cd-templates/jenkins.md
Owners: @jwitz, @paolaperaza, @lzdanski

Gitlab updates
  astro/ci-cd-templates/gitlab.md
Owners: @jwitz, @paolaperaza, @lzdanski

2nd pass editing
  astro/ci-cd-templates/gitlab.md
  astro/ci-cd-templates/jenkins.md
Owners: @jwitz, @paolaperaza, @lzdanski

adjust order, add pre-req
  astro/ci-cd-templates/drone.md
  astro/ci-cd-templates/gitlab.md
  astro/ci-cd-templates/jenkins.md
Owners: @jwitz, @paolaperaza, @lzdanski

Add reviewer recs
  astro/ci-cd-templates/aws-codebuild.md
  astro/ci-cd-templates/azure-devops.md
  astro/ci-cd-templates/bitbucket.md
  astro/ci-cd-templates/circleci.md
  astro/ci-cd-templates/drone.md
  astro/ci-cd-templates/github-actions.md
  astro/ci-cd-templates/gitlab.md
  astro/ci-cd-templates/jenkins.md
Owners: @jwitz, @paolaperaza, @lzdanski
