Repository astronomer/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jwitz, @paolaperaza, @lzdanski, @TJaniF, @kentdanas

.github/CODEOWNERS:

*.md @jwitz @paolaperaza @lzdanski

/astro/ @jwitz @paolaperaza @lzdanski

/software/ @jwitz @paolaperaza @lzdanski

/learn/ @TJaniF @kentdanas @jwitz @paolaperaza @lzdanski

change notes
  learn/custom-xcom-backends-tutorial.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

typo
  learn/custom-xcom-backends-tutorial.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  learn/kubepod-operator.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

wording clarification
  learn/kubepod-operator.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

fix link
  learn/airflow-database.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Fix GCP link to MWAA
  astro/migrate-mwaa.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  learn/airflow-quickstart.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Update per-task resource configurations for Software kubernetes-executor.md
  software/kubernetes-executor.md
Owners: @jwitz, @paolaperaza, @lzdanski

update getting started
  sidebarsAstro.js
Owners: none

Move form widget to site footer
  src/components/NewsletterForm/styles.module.css
  src/pages/index.md
  src/theme/Footer/Layout/index.js
  src/theme/Footer/Logo/styles.module.css
Owners: @jwitz, @paolaperaza, @lzdanski

fix build error, add rss xml files to gitignore
  .gitignore
  astro/configure-worker-queues.md
Owners: @jwitz, @paolaperaza, @lzdanski

add instructions for connection id when using Astronomer backends
  learn/custom-xcom-backends-tutorial.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

update deprecated source code link
  learn/kubepod-operator.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

New sidebar
  sidebarsLearn.js
Owners: none

Final review
  astro/migrate-mwaa.mdx
  astro/migration-partials/deploy.mdx
  astro/migration-partials/deployments.mdx
  astro/migration-partials/final-step.mdx
  astro/migration-partials/prereqs.mdx
  astro/migration-partials/starship-usage.mdx
  astro/migration-partials/workspaces.mdx
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  sidebarsLearn.js
Owners: none

Final review comments
  astro/create-first-dag.md
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  learn/kubepod-operator.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

First draft pipeline alerts
  astro/pipeline-alerts.md
Owners: @jwitz, @paolaperaza, @lzdanski

Update rel-links
  astro/ci-cd-templates/aws-codebuild.md
  astro/ci-cd-templates/azure-devops.md
  astro/ci-cd-templates/bitbucket.md
  astro/ci-cd-templates/circleci.md
  astro/ci-cd-templates/drone.md
  astro/ci-cd-templates/github-actions.md
  astro/ci-cd-templates/gitlab.md
  astro/ci-cd-templates/jenkins.md
Owners: @jwitz, @paolaperaza, @lzdanski

Fix tabs
  astro/pipeline-alerts.md
Owners: @jwitz, @paolaperaza, @lzdanski

Fix broken link
  astro/pipeline-alerts.md
Owners: @jwitz, @paolaperaza, @lzdanski

Second attempt
  astro/pipeline-alerts.md
Owners: @jwitz, @paolaperaza, @lzdanski

Restructure pages
  astro/configure-idp.md
  astro/manage-organization.md
  static/_redirects
Owners: @jwitz, @paolaperaza, @lzdanski

Move domain mapping out of the SSO procedure
  astro/configure-idp.md
Owners: @jwitz, @paolaperaza, @lzdanski

header update
  astro/configure-idp.md
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  learn/custom-xcom-backends-tutorial.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

review edits and adding XCOM_BACKEND_BUCKET_NAME
  learn/custom-xcom-backends-tutorial.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

add repeated mapping
  learn/dynamic-tasks.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

add traditional example
  learn/dynamic-tasks.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

fix tabs
  learn/dynamic-tasks.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

remove double install of dbt-core in step 1.2
  learn/airflow-dbt.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Try lint fix again
  code-samples/dags/external-python-operator/external_python_operator.py
Owners: none

Black formatting this time
  code-samples/dags/external-python-operator/external_python_operator.py
Owners: none

Reformat DAG
  code-samples/dags/external-python-operator/external_python_operator.py
Owners: none

Fix lint
  code-samples/dags/external-python-operator/external_python_operator.py
Owners: none

Update EPO tutorial to use new astro buildkit
  code-samples/dags/external-python-operator/external_python_operator.py
  learn/external-python-operator.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Draft changes
  astro/platform-variables.md
Owners: @jwitz, @paolaperaza, @lzdanski

Apply suggestions from code review
  learn/dynamic-tasks.md
Owners: @TJaniF, @kentdanas, @jwitz, @paolaperaza, @lzdanski

Rough draft
  astro/pipeline-metrics.md
  sidebarsAstro.js
  static/img/docs/pipeline-details.png
Owners: @jwitz, @paolaperaza, @lzdanski
