Repository astronomer/docs, pull requests merged in 2022-12, with the labels that each got.

#1491 Add/Remove Content for Revised Git-Sync Architecture
  software/deploy-git-sync.md
Labels: status/blocked

#1614 Change sensor video link
  learn/what-is-a-sensor.md
Labels: kind/quick-fix, area/learn

#1438 Plugins guide updated and new tutorial on operator extra links
  learn/operator-extra-link-tutorial.md
  learn/using-airflow-plugins.md
  sidebarsLearn.js
  static/img/guides/empty_plugin.png
  static/img/guides/extra_links_tutorial_HTTPDocsLink_button.png
  static/img/guides/extra_links_tutorial_add_http_connection.png
  static/img/guides/extra_links_tutorial_bashoperator.png
  static/img/guides/extra_links_tutorial_cat_button.png
  static/img/guides/extra_links_tutorial_http_code.png
  static/img/guides/extra_links_tutorial_plugins_list_UI.png
  static/img/guides/extra_links_tutorial_xcom_tab.png
  static/img/guides/global_operator_extra_link.png
  static/img/guides/plugins_menu_items.png
  static/img/guides/plugins_test_view.png
  static/img/guides/plugins_test_view_menu.png
Labels: area/learn

#1615 [2.5] Adding the sensor decorator and other small updates
  learn/airflow-datasets.md
  learn/airflow-decorators.md
  learn/airflow-ui.md
  learn/cross-dag-dependencies.md
  learn/managing-dependencies.md
  learn/what-is-a-sensor.md
  static/img/guides/2_4_Datasets.png
  static/img/guides/2_5_Datasets.png
  static/img/guides/2_5_DatasetsDetails.png
  static/img/guides/datasets_view_overview.png
  static/img/guides/sdk_datasets.png
Labels: area/learn

#1602 Update `astro-sdk` docs
  learn/astro-python-sdk-etl.md
  learn/astro-python-sdk.md
Labels: kind/quick-fix, area/learn

#1616 [2.5] Mapping updates
  learn/dynamic-tasks.md
  learn/task-groups.md
  static/img/guides/looped_task_groups.png
Labels: area/learn

#1510 Kafka/Confluent with Airflow - Basic tutorial
  learn/airflow-kafka.md
  sidebarsLearn.js
  static/img/guides/confluent-produced-tasks.png
  static/img/guides/kafka-consumer-logs.png
  static/img/guides/kafka-deferred-state.png
  static/img/guides/kafka-producer-logs.png
Labels: area/learn

#1657 Add EventTriggersFunctionOperator to Kafka Integrations page
  learn/airflow-kafka.md
Labels: area/learn
