Repository astronomer/docs, pull requests merged in 2022-11, with the labels that each got.

#1431 Update decorators concept guide
  learn/airflow-decorators.md
Labels: area/learn

#1410 Update ADF guide to tutorial format
  learn/airflow-azure-data-factory-integration.md
Labels: area/learn

#1453 Update Soda guide to new tutorial format
  learn/soda-data-quality.md
Labels: area/learn

#1432 Astro CLI 1.7 Release Notes and New Docs
  astro/cli/astro-deployment-inspect.md
  astro/cli/astro-deployment-update.md
  astro/cli/astro-dev-start.md
  astro/cli/astro-organization-list.md
  astro/cli/astro-organization-switch.md
  astro/cli/release-notes.md
  astro/cli/sql-cli.md
  astro/release-notes.md
  sidebarsAstro.js
  src/versions.js
Labels: product/cli

#1413 Cloud IDE tutorial - simple ML model
  learn/cloud-ide-tutorial.md
  sidebarsLearn.js
  sidebarsTutorials.js
  static/img/guides/cloud_ide_add_connection.png
  static/img/guides/cloud_ide_add_connection_2.png
  static/img/guides/cloud_ide_add_requirement.png
  static/img/guides/cloud_ide_add_sklearn.png
  static/img/guides/cloud_ide_add_variable.png
  static/img/guides/cloud_ide_cell_dependency.png
  static/img/guides/cloud_ide_code_view.png
  static/img/guides/cloud_ide_commit_to_github.png
  static/img/guides/cloud_ide_create_project.png
  static/img/guides/cloud_ide_cron_menu.png
  static/img/guides/cloud_ide_dag_ran_in_UI.png
  static/img/guides/cloud_ide_dags_github.png
  static/img/guides/cloud_ide_environment_button.png
  static/img/guides/cloud_ide_github_conn.png
  static/img/guides/cloud_ide_github_secrets.png
  static/img/guides/cloud_ide_load_csv.png
  static/img/guides/cloud_ide_model_output.png
  static/img/guides/cloud_ide_new_pipeline.png
  static/img/guides/cloud_ide_pipeline_view.png
  static/img/guides/cloud_ide_query_table.png
  static/img/guides/cloud_ide_schedule_dag.png
  static/img/guides/cloud_ide_select_connection.png
Labels: area/learn

#1476 A small tutorial showing how to add documentation to DAGs and tasks
  learn/custom-airflow-ui-docs-tutorial.md
  sidebarsLearn.js
  static/img/guides/DAG_docs.png
  static/img/guides/DAG_docs_2.png
  static/img/guides/DAG_docs_intro_example.png
  static/img/guides/task_docs_all.png
  static/img/guides/task_instance_details.png
Labels: area/learn

#1523 Change description on DAG docs tutorial.
  learn/custom-airflow-ui-docs-tutorial.md
Labels: area/learn

#1537 Fix formatting get started tutorial
  learn/get-started-with-airflow.md
Labels: kind/quick-fix, area/learn

#1315 Add Content for Astro Audit Logs
  astro/audit-logs.md
  static/robots.txt
Labels: status/blocked

#1399 [Do not merge] Update for the SQL check operators concept guide anticipating version 1.3
  learn/airflow-sql-data-quality.md
Labels: area/learn

#1469 ExternalPythonOperator tutorial
  learn/external-python-operator.md
  sidebarsLearn.js
Labels: area/learn

#1544 Mongo + Airflow tutorial
  learn/airflow-mongodb.md
  sidebarsLearn.js
  static/img/tutorials/mongo_airflow_connection.png
  static/img/tutorials/mongo_create_user.png
  static/img/tutorials/mongo_loaded_data.png
Labels: area/learn
