Repository astronomer/docs, pull requests merged in 2022-08, with the labels that each got.

#1006 Migrate airflow-azure-container-instances guide
  guides/airflow-azure-container-instances.md
  sidebarsGuides.js
  software/deploy-cli.md
  software/release-notes.md
  software/upgrade-astronomer.md
  software_versioned_docs/version-0.25/upgrade-astronomer.md
  software_versioned_docs/version-0.28/upgrade-astronomer.md
Labels: area/airflow-guides

#954 Prioritize Runtime in Software docs
  software/ac-cve.md
  software/ac-support-policy.md
  software/create-project.md
  software/customize-image.md
  software/image-architecture.md
  software/install-packages.md
  software/runtime-image-architecture.md
  software/upgrade-ac.md
Labels: kind/blocked

#1009 Migrate airflow-azure-data-explorer guide
  astro/ci-cd.md
  astro/cli/astro-deployment-variable-create.md
  astro/cli/astro-deployment-variable-update.md
  astro/cli/astro-dev-bash.md
  astro/cli/astro-user-invite.md
  astro/cli/release-notes.md
  astro/configure-deployment-resources.md
  astro/create-cluster.md
  astro/create-deployment.md
  astro/create-project.md
  astro/deferrable-operators.md
  astro/develop-project.md
  astro/environment-variables.md
  astro/hipaa-compliance.md
  astro/install-aws.md
  astro/install-azure.md
  astro/known-limitations.md
  astro/kubernetespodoperator.md
  astro/log-in-to-astro.md
  astro/modify-cluster.md
  astro/release-notes.md
  astro/resource-reference-aws.md
  astro/resource-reference-azure.md
  astro/resource-reference-gcp.md
  astro/runtime-release-notes.md
  astro/secrets-backend.md
  astro/test-and-troubleshoot-locally.md
  astro/user-permissions.md
  astro/view-clusters.md
  docusaurus.config.js
  guides/airflow-azure-data-explorer.md
  sidebarsAstro.js
  sidebarsGuides.js
  software/ac-cve.md
  software/ac-support-policy.md
  software/create-project.md
  software/customize-image.md
  software/image-architecture.md
  software/install-packages.md
  software/runtime-image-architecture.md
  software/runtime-release-notes.md
  software/upgrade-ac.md
  src/css/custom.css
  src/versions.js
  static/img/docs/deployment-settings.png
  static/img/guides/adx_connection.png
  static/img/guides/adx_xcom.png
  static/img/monogram-light.png
  static/img/release-notes/worker-queues.png
Labels: area/airflow-guides

#1023 Migrate airflow-azure-data-factory-integration guide
  astro/add-user.md
  astro/api-keys.md
  astro/cli/astro-dev-init.md
  astro/cli/get-started.md
  astro/cli/overview.md
  astro/connect-external-services.md
  astro/develop-project.md
  astro/environment-variables.md
  astro/kubepodoperator-local.md
  astro/log-in-to-astro.md
  astro/resource-reference-aws.md
  astro/test-and-troubleshoot-locally.md
  guides/airflow-azure-data-factory-integration.md
  sidebarsGuides.js
  software/cli-reference.md
  software/kubepodoperator-local.md
  static/img/docs/tutorial-airflow-ui.png
  static/img/docs/tutorial-code-view.png
  static/img/docs/tutorial-graph-view.png
  static/img/docs/tutorial-grid-view.png
  static/img/docs/tutorial-run-dag.png
  static/img/docs/tutorial-unpause-dag.png
  static/img/guides/adf_add_role_assignment.png
  static/img/guides/adf_add_role_assignment2.png
  static/img/guides/adf_app_id.png
  static/img/guides/adf_app_registration.png
  static/img/guides/adf_client_secret.png
  static/img/guides/multiple_adf_pipeline_graph.png
Labels: area/airflow-guides

#1085 Migrate airflow-passing-data-between-tasks guide
  guides/airflow-passing-data-between-tasks.md
  sidebarsGuides.js
  static/img/guides/example_xcom.png
  static/img/guides/example_xcom_log.png
  static/img/guides/xcom_ui.png
Labels: area/airflow-guides

#1083 Migrate airflow-openlineage guide
  guides/airflow-openlineage.md
  sidebarsGuides.js
  static/img/guides/example_lineage_graph.png
  static/img/guides/marquez_jobs.png
  static/img/guides/marquez_lineage_graph.png
Labels: area/airflow-guides

#1081 Migrate airflow-database guide
  guides/airflow-database.md
  sidebarsGuides.js
  static/img/guides/successful_tasks_UI.png
Labels: area/airflow-guides

#1075 Migrate airflow-executors-explained guide
  guides/airflow-executors-explained.md
  sidebarsGuides.js
Labels: area/airflow-guides

#1068 Migrate airflow-dbt guide
  guides/airflow-dbt.md
  sidebarsGuides.js
Labels: area/airflow-guides

#1064 Migrate airflow-databricks guide
  guides/airflow-databricks.md
  sidebarsGuides.js
  static/img/guides/databricks_connection.png
  static/img/guides/databricks_failure_airflow_log.png
  static/img/guides/databricks_job.png
  static/img/guides/pipeline_example_w_databricks.png
Labels: area/airflow-guides

#1038 Migrate airflow-components guide
  guides/airflow-components.md
  sidebarsGuides.js
  static/img/guides/airflow_component_architecture.png
Labels: area/airflow-guides

#1035 Migrate airflow-branch-operator guide
  guides/airflow-branch-operator.md
  sidebarsGuides.js
  static/img/guides/branching.png
  static/img/guides/short_circuit.png
Labels: area/airflow-guides

#1095 Migrate airflow-sagemaker guide
  guides/airflow-sagemaker.md
  sidebarsGuides.js
  static/img/guides/sagemaker_connection.png
  static/img/guides/sagemaker_pipeline.png
  static/img/guides/sagemaker_transform_job.png
Labels: area/airflow-guides

#1093 Migrate airflow-pools guide
  guides/airflow-pools.md
  sidebarsGuides.js
  static/img/guides/pools_ui.png
Labels: area/airflow-guides

#1094 Migrate airflow-redshift guide
  guides/airflow-redshift.md
  sidebarsGuides.js
Labels: area/airflow-guides

#1098 Migrate airflow-scaling-workers guide
  guides/airflow-scaling-workers.md
  sidebarsGuides.js
Labels: area/airflow-guides

#1077 Migrate airflow-importing-custom-hooks-operators guide
  guides/airflow-importing-custom-hooks-operators.md
  sidebarsGuides.js
Labels: area/airflow-guides

#1076 Migrate airflow-great-expectations guide
  guides/airflow-great-expectations.md
  sidebarsGuides.js
Labels: area/airflow-guides

#1073 Adding instructions for using the Airflow REST API locally.
  astro/airflow-api.md
  astro/test-and-troubleshoot-locally.md
Labels: kind/enhancement

#1070 Migrate airflow-decorators guide
  guides/airflow-decorators.md
  sidebarsGuides.js
  static/img/guides/astro_etl_graph.png
Labels: area/airflow-guides
