Repository astronomer/docs, pull requests merged in 2023-01, with the labels that each got.

#1695 Tiny changes to the Sagemaker tutorial
  learn/airflow-sagemaker.md
Labels: area/learn

#1722 Update IDE cell documentation, general IDE docs
  astro/cloud-ide/document-pipeline.md
  astro/cloud-ide/overview.md
  astro/cloud-ide/quickstart.md
  astro/cloud-ide/run-python.md
  astro/cloud-ide/run-sql.md
  sidebarsAstro.js
Labels: status/blocked

#1737 One sentence clarification datasets guide
  learn/airflow-datasets.md
Labels: area/learn

#1741 Fix link in logging guide
  learn/logging.md
Labels: area/learn

#1666 Custom XCom backend tutorial
  learn/custom-xcom-backends-tutorial.md
  learn/custom-xcom-backends.md
  sidebarsLearn.js
  static/img/guides/xcom_backend_S3_json.png
  static/img/guides/xcom_backend_aws_connection.png
  static/img/guides/xcom_backend_aws_policy.png
  static/img/guides/xcom_backend_aws_user.png
  static/img/guides/xcom_backend_azure_blob.png
  static/img/guides/xcom_backend_azure_connection.png
  static/img/guides/xcom_backend_gcs_connection.png
  static/img/guides/xcom_backend_gcs_json.png
  static/img/guides/xcom_backend_gcs_role.png
  static/img/guides/xcom_backend_gcs_service_account.png
  static/img/guides/xcom_backend_minio_access_key.png
  static/img/guides/xcom_backend_minio_file.png
  static/img/guides/xcom_backend_shared_access_token.png
  static/img/guides/xcom_backend_task_logs_pokemon.png
  static/img/guides/xcom_backend_task_logs_simple.png
Labels: area/learn

#1680 Snowflake Integration update
  learn/airflow-snowflake.md
  static/img/guides/lineage_complex_snowflake_example.png
  static/img/guides/snowflake_complex_dag.png
  static/img/guides/snowflake_example_deferred_state.png
  static/img/guides/snowflake_forestfire_quality_checks_logs.png
  static/img/guides/snowflake_tutorial_connection.png
Labels: area/learn

#1742 Move dynamic tasks to DAGs section
  sidebarsLearn.js
Labels: area/learn

#1745 Replace `schedule_interval` with `schedule` in Learn Example DAGs
  learn/airflow-azure-container-instances.md
  learn/airflow-azure-data-explorer.md
  learn/airflow-azure-data-factory-integration.md
  learn/airflow-branch-operator.md
  learn/airflow-databricks.md
  learn/airflow-datasets.md
  learn/airflow-dbt.md
  learn/airflow-decorators.md
  learn/airflow-importing-custom-hooks-operators.md
  learn/airflow-openlineage.md
  learn/airflow-passing-data-between-tasks.md
  learn/airflow-pools.md
  learn/airflow-redshift.md
  learn/airflow-sagemaker.md
  learn/airflow-snowflake.md
  learn/airflow-sql.md
  learn/airflow-talend-integration.md
  learn/astro-python-sdk-etl.md
  learn/astro-python-sdk.md
  learn/bashoperator.md
  learn/connections.md
  learn/cross-dag-dependencies.md
  learn/dag-best-practices.md
  learn/dags.md
  learn/data-quality.md
  learn/deferrable-operators.md
  learn/dynamic-tasks.md
  learn/dynamically-generating-dags.md
  learn/error-notifications-in-airflow.md
  learn/execute-notebooks.md
  learn/get-started-with-airflow.md
  learn/kubepod-operator.md
  learn/logging.md
  learn/managing-dependencies.md
  learn/soda-data-quality.md
  learn/task-groups.md
  learn/templating.md
  learn/testing-airflow.md
  learn/what-is-a-hook.md
  learn/what-is-a-sensor.md
  learn/what-is-an-operator.md
  software/access-airflow-database.md
  software/kubepodoperator.md
  software/secrets-backend.md
Labels: area/learn

#1687 Openlineage concept updates and new Marquez tutorial
  learn/airflow-openlineage.md
  learn/marquez.md
  sidebarsLearn.js
  static/img/guides/marquez_graph.png
  static/img/guides/marquez_lineage_graph.png
Labels: area/learn

#1757 Replace covid tracking API examples
  learn/airflow-passing-data-between-tasks.md
  learn/airflow-pools.md
  learn/airflow-sql.md
  learn/managing-dependencies.md
  static/img/guides/covid_to_snowflake_graph_view.png
  static/img/guides/dependency_taskflow.png
  static/img/guides/example_xcom.png
  static/img/guides/example_xcom_log.png
  static/img/guides/sql_cat_to_snowflake.png
  static/img/guides/taskflow.png
Labels: area/learn

#1756 Update SDK concept guide comparison structure
  learn/astro-python-sdk-etl.md
Labels: area/learn

#1776 Update Debugging Guide
  learn/debugging-dags.md
  static/img/guides/access_logs_grid_view.png
  static/img/guides/error_log_2.png
  static/img/guides/error_unmappeable.png
  static/img/guides/grid_view_task_failure.png
  static/img/guides/import_error_2.png
  static/img/guides/paused_dag_2.png
  static/img/guides/scheduler_not_running_2.png
  static/img/guides/test_connections_2.png
Labels: area/learn

#1784 Update Software Install instructions for AWS
  software/install-aws-standard.md
  software/self-signed-certificate.md
Labels: product/software
