Repository astronomer/docs, pull requests merged in 2023-05, with the labels that each got.

#2195 [2.6] Rerun guide to include retries
  code-samples/dags/rerunning-dags/retry_example.py
  learn/rerunning-dags.md
  static/img/guides/clear_dag_ui.png
  static/img/guides/clear_tasks_ui.png
  static/img/guides/task_instance_confirmation.png
  static/img/guides/trigger_execution_date.png
Labels: kind/enhancement, new-feature, area/learn

#2197 [2.6] Adding pandas serialization in standard XCom to the pass data guide and the custom XCom backend tutorial
  learn/airflow-passing-data-between-tasks.md
  learn/custom-xcom-backends-tutorial.md
Labels: kind/enhancement, new-feature, area/learn

#2240 Update UI guide with note about 2.6 grid updates
  learn/airflow-ui.md
  static/img/guides/ui_grid_graph.png
Labels: area/learn

#2269 Fix the steps to go the Organization home page and remove repeated line
  astro/modify-cluster.md
Labels: kind/quick-fix

#2132 Weights and biases integration tutorial
  code-samples/dags/airflow-weights-and-biases/weights_and_biases.py
  learn/airflow-weights-and-biases.md
  sidebarsLearn.js
  static/img/guides/wandb_results.png
  static/img/guides/wandb_task_logs.png
Labels: area/learn

#2302 Update GCP and AWS docs on how to get Workload Identity
  astro/connect-aws.md
  astro/connect-gcp.md
Labels: product/astro, kind/enhancement

#2245 Astro Databricks provider tutorial
  code-samples/dags/airflow-databricks/databricks_tutorial_dag.py
  learn/airflow-databricks.md
  static/img/guides/astro_databricks_provider_dag_graph.png
  static/img/guides/databricks_tutorial_shw_graph.png
  static/img/guides/repair_all_failed_databricks_tasks_oel.png
  static/img/guides/repair_single_failed_databricks_task_oel.png
Labels: kind/new-topic, area/learn

#2347 Astro 5/30 Release notes
  astro/cli/release-notes.md
  astro/release-notes.md
Labels: status/blocked
