Repository astronomer/docs, pull requests merged in 2023-11, with the labels that each got.

#2994 Use case RAG LLMOps
  learn/use-case-airflow-llm-rag-finance.md
  sidebarsLearn.js
  static/img/examples/use-case-airflow-llm-rag-finance_create_schema_dag.png
  static/img/examples/use-case-airflow-llm-rag-finance_document_ingest.png
  static/img/examples/use-case-airflow-llm-rag-finance_incremental_dag.png
  static/img/examples/use-case-airflow-llm-rag-finance_pre_embedd_dag.png
  static/img/examples/use-case-airflow-llm-rag-finance_schema_part.png
  static/img/examples/use-case-airflow-llm-rag-finance_streamlit_app_answer.png
  static/img/examples/use-case-airflow-llm-rag-finance_streamlit_part_1.png
  static/img/examples/use-case-airflow-llm-rag-finance_streamlit_part_2.png
  static/img/examples/use-case-airflow-llm-rag-finance_streamlit_part_3.png
Labels: area/learn

#3011 Add new details about HA - (with new release notes only)
  astro/deployment-settings.md
Labels: product/astro, area/docs

#3026 Remove API Key mentions + deprioritize content
  astro/airflow-api.md
  astro/api-keys.md
  astro/astro-glossary.md
  astro/audit-logs.md
  astro/authorize-deployments-to-your-cloud.md
  astro/automation-authentication.md
  astro/automation-overview.md
  astro/ci-cd-templates/template-overview.md
  astro/cli/astro-deploy.md
  astro/create-deployment.md
  astro/deployment-settings.md
  astro/disaster-recovery.md
  astro/log-in-to-astro.md
  astro/manage-deployments-as-code.md
  astro/organization-api-tokens.md
  astro/release-notes.md
  astro/set-up-ci-cd.md
  astro/shared-responsibility-model.md
  astro/transfer-a-deployment.md
  astro/user-permissions.md
  astro/workspace-api-tokens.md
  sidebarsAstro.js
Labels: product/astro, product/cli, new-feature, area/docs

#2965 Add ready-to-use minimal Deployment template
  astro/cli/astro-deployment-create.md
  astro/deployment-file-reference.md
  astro/manage-deployments-as-code.md
Labels: kind/enhancement, product/cli, area/docs

#3055 Quick CLI fix
  astro/cli/astro-workspace-token-list.md
Labels: error/typo, product/cli, area/docs

#3045 Create legacy version table, address missing versions in Upgrade Runtime
  astro/runtime-version-lifecycle-policy.md
  astro/upgrade-runtime.md
Labels: area/docs

#2976 Software SCIM fixes
  software/integrate-auth-system.md
Labels: area/docs

#3032 remove workspace using graphql
  software/houston-api.md
Labels: area/docs

#3017 Method to use IAM roles
  software/registry-backend.md
Labels: area/docs

#3069 Hotfix - alphabetize help ref
  astro/cli/astro-run.md
Labels: kind/quick-fix, product/cli, area/docs

#3067 Astro 11/7 release notes
  astro/api-keys.md
  astro/astro-support.md
  astro/ci-cd-templates/template-overview.md
  astro/cli/astro-deployment-update.md
  astro/cli/release-notes.md
  astro/cloud-ide/quickstart.md
  astro/cloud-ide/run-cells.md
  astro/configure-idp.md
  astro/configure-worker-queues.md
  astro/connect-aws.md
  astro/connect-azure.md
  astro/connect-gcp.md
  astro/deploy-dags.md
  astro/deployment-metrics.md
  astro/deployment-settings.md
  astro/hybrid-overview.md
  astro/install-aws-hybrid.md
  astro/install-azure-hybrid.md
  astro/install-gcp-hybrid.md
  astro/kubernetespodoperator.md
  astro/manage-hybrid-clusters.md
  astro/platform-variables.md
  astro/release-notes.md
  astro/resource-reference-aws-hybrid.md
  astro/resource-reference-azure-hybrid.md
  astro/resource-reference-gcp-hybrid.md
  astro/resource-reference-hosted.md
  astro/runtime-release-notes.md
  astro/runtime-version-lifecycle-policy.md
  astro/set-up-data-lineage.md
  astro/upgrade-runtime.md
  software/runtime-version-lifecycle-policy.md
Labels: product/astro, area/docs

#3038 Add integration docs for metrics forwarding
  astro/audit-logs.md
  astro/deployment-metrics.md
  astro/export-cloudwatch.md
  astro/export-datadog.md
  astro/view-logs.md
  sidebarsAstro.js
  static/_redirects
Labels: product/astro, kind/enhancement, area/docs

#3078 Add CLI Outputs
  astro/cli/astro-deployment-airflow-variable-list.md
  astro/cli/astro-deployment-connection-list.md
  astro/cli/astro-deployment-pool-list.md
Labels: kind/enhancement, product/cli, area/docs

#3061 Install Astro as an Azure Native ISV Service
  astro/install-azure.md
  astro/trial.md
  sidebarsAstro.js
  static/img/docs/azure-create.png
  static/img/docs/azure-search.png
  static/img/docs/azure-sso.png
Labels: product/astro, area/docs

#3023 manage connections
  astro/cli/astro-dev-start.md
  astro/cli/configure-cli.md
  astro/cli/develop-project.md
  astro/create-and-link-connections.md
  astro/deployment-settings.md
  astro/import-export-connections-variables.md
  astro/manage-connections-variables.md
  learn/connections.md
  sidebarsAstro.js
  static/img/docs/connection-restrict-link-all.png
  static/img/docs/connections-env-mgmt.png
Labels: product/astro, new-feature, area/docs, project

#3087 Astro 11/14 release notes + pipeline alerts documentation
  astro/alerts.md
  astro/release-notes.md
  static/img/docs/astro_alerts_dag.png
Labels: area/docs

#3085 OpenAI provider tutorial
  code-samples/dags/airflow-openai/captains_dag.py
  learn/airflow-openai.md
  sidebarsLearn.js
  static/img/integrations/openai.png
  static/img/tutorials/airflow-openai_dag_completed.png
  static/img/tutorials/airflow-openai_params.png
  static/img/tutorials/airflow-openai_plot.png
Labels: area/learn

#3049 Update Software table to include legacy versions
  software/upgrade-astronomer.md
  software/version-compatibility-reference.md
  software_versioned_docs/version-0.30/upgrade-astronomer.md
  software_versioned_docs/version-0.30/version-compatibility-reference.md
  software_versioned_docs/version-0.32/upgrade-astronomer.md
  software_versioned_docs/version-0.32/version-compatibility-reference.md
Labels: product/software, area/docs

#3091 Cohere provider tutorial
  code-samples/dags/airflow-cohere/recipe_suggestions.py
  learn/airflow-cohere.md
  sidebarsLearn.js
  static/img/integrations/cohere.png
  static/img/tutorials/airflow-cohere_dag_graph.png
  static/img/tutorials/airflow-cohere_params.png
  static/img/tutorials/airflow-cohere_recipe_plot.png
Labels: kind/new-doc, area/learn

#3066 clarify passwordless criteria
  astro/kubernetespodoperator.md
Labels: product/astro, area/docs

#3053 Updates to top-level code explanation in best practices
  learn/dag-best-practices.md
Labels: area/learn

#2801 Reorg env vars
  astro/airflow-api.md
  astro/cli/astro-deployment-variable-update.md
  astro/cloud-ide/configure-project-environment.md
  astro/deployment-settings.md
  astro/environment-variables.md
  astro/import-export-connections-variables.md
  astro/manage-connections-variables.md
  astro/manage-env-vars.md
  astro/migration-partials/deployments.mdx
  astro/platform-variables.md
  astro/release-notes.md
  astro/runtime-image-architecture.md
  astro/secrets-backend.md
  astro/secrets-management.md
  astro/set-up-data-lineage.md
  learn/airflow-variables.md
  sidebarsAstro.js
  static/_redirects
Labels: kind/new-topic, product/astro, kind/new-doc, product/cli, kind/IA-changes, area/docs

#3101 Pgvector tutorial
  code-samples/dags/airflow-pgvector/query_book_vectors.py
  learn/airflow-pgvector.md
  sidebarsLearn.js
  static/img/integrations/postgres.png
  static/img/tutorials/airflow-pgvector_params.png
  static/img/tutorials/airflow-pgvector_successful_dag.png
Labels: kind/new-doc, area/learn

#3095 Add info about --global config options for Astro CLI
  astro/cli/astro-config-get.md
  astro/cli/astro-config-set.md
  astro/cli/configure-cli.md
  astro/cli/reference.md
Labels: error/misleading, product/cli, area/docs

#3088 Add alternative GCP workload identity impersonation setup
  astro/authorize-deployments-to-your-cloud.md
Labels: area/docs

#3098 Pinecone integration learn
  code-samples/dags/airflow-pinecone/query_series_vectors.py
  learn/airflow-pinecone.md
  sidebarsLearn.js
  static/img/integrations/pinecone.png
  static/img/tutorials/airflow-pinecone_params.png
  static/img/tutorials/airflow-pinecone_query_series_vectors_dag.png
Labels: kind/new-doc, area/learn

#3117 Add task instance clarification
  astro/alerts.md
Labels: error/misleading, product/astro, area/docs

#3119 Image deploy + dags erasure limitation
  astro/set-up-ci-cd.md
Labels: error/misleading, product/astro, customer-reported, kind/quick-fix, area/docs

#2872 DAG deploy updates
  astro/deploy-dags.md
  astro/deploy-project-image.md
  astro/release-notes.md
  static/_redirects
  static/astro-cli-release-notes.xml
  static/astro-release-notes.xml
  static/astro-runtime-release-notes.xml
  static/astro-software-release-notes.xml
  static/astro-software-runtime-release-notes.xml
  static/img/docs/deploy-diagram.png
Labels: product/astro, kind/enhancement, area/docs
