Repository astronomer/docs, pull requests merged in 2023-10, with the labels that each got.

#2865 Weaviate tutorial
  code-samples/dags/airflow-weaviate/query_movie_vectors.py
  learn/airflow-weaviate.md
  sidebarsLearn.js
  static/img/integrations/weaviate.png
  static/img/tutorials/airflow-weaviate_successful_dag.png
Labels: area/learn

#2912 Update airflow-sql.md
  learn/airflow-sql.md
Labels: area/learn

#2920 Updates/bug fixes to the SQL guide code
  code-samples/dags/airflow-sql/call_snowflake_sprocs.py
  code-samples/dags/airflow-sql/parameterized_query_dag.py
  learn/airflow-sql.md
Labels: status/blocked, area/learn

#2867 GitHub Actions/UI Onboarding Flow
  astro/ci-cd-templates/aws-s3.md
  astro/ci-cd-templates/gcs.md
  astro/cli/install-cli.md
  astro/first-dag-cli.md
  astro/first-dag-github-actions.md
  astro/install-azure-hybrid.md
  astro/overview.md
  astro/run-first-dag.md
  astro/trial.md
  learn/cloud-ide-tutorial.md
  sidebarsAstro.js
  static/_redirects
  static/img/docs/s3-complete.png
Labels: kind/new-topic, product/astro, product/cli, new-feature

#2932 [Tiny PR] Fix links in Configure IDP Azure AD Setup
  astro/configure-idp.md
Labels: error/broken-link, area/docs

#2929 10-10 Astro Release Notes
  astro/api-keys.md
  astro/deployment-api-tokens.md
  astro/release-notes.md
Labels: product/astro, area/docs

#2937 [Tiny PR] Cloud providers should be in Tabs not H3
  astro/resource-reference-hosted.md
Labels: kind/quick-fix, kind/internal-task, area/docs

#2935 Replacing Snowflake trial links with UTMed link
  learn/airflow-snowflake.md
  learn/astro-python-sdk.md
  learn/connections/snowflake.md
  learn/external-python-operator.md
Labels: kind/quick-fix, area/learn

#2911 View Logs rewrite
  astro/cli/astro-deployment-logs.md
  astro/deployment-metrics.md
  astro/hipaa-compliance.md
  astro/view-logs.md
  static/_redirects
Labels: error/wrong-info, product/astro, kind/enhancement

#2917 Update configure-worker-queues.md
  astro/configure-worker-queues.md
Labels: area/docs

#2928 Runtime 9.2.0 - Release notes
  astro/release-notes.md
  astro/runtime-release-notes.md
  src/versions.js
Labels: product/astro, area/docs

#2905 add a note about log tags for datadog task logs
  astro/view-logs.md
Labels: area/docs

#2739 Secrets Backend
  astro/secrets-backend.md
  astro/secrets-backend/aws-paramstore.md
  astro/secrets-backend/aws-secretsmanager.md
  astro/secrets-backend/azure-key-vault.md
  astro/secrets-backend/gcp-secretsmanager.md
  astro/secrets-backend/hashicorp-vault.md
  sidebarsAstro.js
Labels: kind/enhancement, area/docs

#2936 Two snippets of info for Cosmos content
  code-samples/dags/airflow-dbt/cosmos_dag.py
  learn/airflow-dbt.md
  learn/use-case-airflow-dbt.md
Labels: kind/quick-fix, status/blocked, area/learn

#2896 Software 0.33.1 release notes
  software/release-notes.md
  software_versioned_docs/version-0.30/release-notes.md
  software_versioned_docs/version-0.32/release-notes.md
Labels: product/software, area/docs

#2939 Runtime 8.10.0 release notes
  astro/runtime-release-notes.md
Labels: product/astro, area/docs

#2947 Add note to weaviate tutorial about class name capitalization
  learn/airflow-weaviate.md
Labels: kind/quick-fix

#2930 Add callouts about requests=limits
  astro/deployment-settings.md
  astro/kubernetes-executor.md
  astro/kubernetespodoperator.md
Labels: product/astro, status/blocked, area/docs

#2952 10 17 release notes
  astro/deploy-history.md
  astro/environment-variables.md
  astro/release-notes.md
Labels: product/astro, new-feature, area/docs

#2958 Fix task name in weaviate tutorial
  learn/airflow-weaviate.md
Labels: area/learn

#2959 `(Optional)` instead of `Optional.` in Learn guides
  learn/astro-python-sdk-etl.md
  learn/cloud-ide-tutorial.md
  learn/get-started-with-airflow.md
  learn/kubepod-operator.md
Labels: kind/quick-fix

#2963 Add note to astro deployment variable create
  astro/cli/astro-deployment-variable-create.md
Labels: error/misleading, kind/quick-fix, product/cli, area/docs

#2951 Add 0.29 to release notes
  software/release-notes.md
  software_versioned_docs/version-0.30/release-notes.md
  software_versioned_docs/version-0.32/release-notes.md
Labels: error/wrong-info, product/software, area/docs

#2862 Update GX tutorial
  code-samples/dags/airflow-great-expectations/gx_dag.py
  learn/airflow-great-expectations.md
Labels: area/learn

#2968 9.3.0 Release notes
  astro/release-notes.md
  astro/runtime-release-notes.md
  src/versions.js
Labels: product/astro, area/docs

#2961 0.32.4 Release Notes
  software/release-notes.md
  software_versioned_docs/version-0.30/release-notes.md
  software_versioned_docs/version-0.32/release-notes.md
Labels: product/software, area/docs

#2971 Update user-permissions.md
  astro/user-permissions.md
Labels: error/wrong-info, product/astro, kind/quick-fix, area/docs

#2970 Delete duplicated content in Deployment Settings
  astro/deployment-settings.md
Labels: error/wrong-info, product/astro, kind/quick-fix, area/docs

#2909 Snowpark integration tutorial
  code-samples/dags/airflow-snowpark/airflow_with_snowpark_tutorial.py
  learn/airflow-snowflake.md
  learn/airflow-snowpark.md
  sidebarsLearn.js
  static/img/tutorials/airflow-snowpark_dag_graph.png
  static/img/tutorials/airflow-snowpark_dag_graph_basic.png
  static/img/tutorials/airflow-snowpark_model_registry.png
  static/img/tutorials/airflow-snowpark_plot_metrics.png
Labels: kind/new-doc, area/learn

#2981 Move content to create-deployment page
  astro/create-deployment.md
Labels: kind/quick-fix, area/docs

#3012 fix broken link in Test your DAGs
  astro/cli/test-your-astro-project-locally.md
Labels: error/broken-link, kind/quick-fix, area/docs

#3010 Fix typo in S/W docs
  software/task-usage-metrics.md
Labels: product/software, area/docs

#3016 add azure standard
  astro/resource-reference-hosted.md
Labels: product/astro, kind/quick-fix, new-feature, area/docs

#3041 Fix typo
  astro/astro-architecture.md
  static/img/docs/astro-architecture-lightmode.jpg
  static/img/docs/astro-architecture-lightmode.png
Labels: error/typo, product/astro, kind/architecture-diagram, area/docs
