Repository astronomer/docs, pull requests merged in 2023-04, with the labels that each got.

#2106 Add logos to integrations, fix cardTitle img width
  learn/airflow-azure-container-instances.md
  learn/airflow-azure-data-explorer.md
  learn/airflow-azure-data-factory-integration.md
  learn/airflow-databricks.md
  learn/airflow-dbt.md
  learn/airflow-fivetran.md
  learn/airflow-great-expectations.md
  learn/airflow-kafka.md
  learn/airflow-mongodb.md
  learn/airflow-redshift.md
  learn/airflow-sagemaker.md
  learn/airflow-snowflake.md
  learn/airflow-talend-integration.md
  learn/execute-notebooks.md
  learn/marquez.md
  learn/soda-data-quality.md
  src/theme/DocCard/styles.module.css
  static/img/integrations/azure-container-instances.png
  static/img/integrations/azure-data-explorer.png
  static/img/integrations/azure-data-factory.png
  static/img/integrations/confluent.png
  static/img/integrations/databricks.png
  static/img/integrations/dbt.png
  static/img/integrations/fivetran.png
  static/img/integrations/great-expectations.png
  static/img/integrations/jupyter.png
  static/img/integrations/kafka.png
  static/img/integrations/marquez.png
  static/img/integrations/mongodb.png
  static/img/integrations/redshift.png
  static/img/integrations/sagemaker.png
  static/img/integrations/snowflake.png
  static/img/integrations/soda.png
  static/img/integrations/talend.png
Labels: area/docs-site, area/learn

#2108 [Tiny PR] Fix link in database guide
  learn/airflow-database.md
Labels: area/learn

#2101 Airflow quickstart Learn page
  learn/airflow-quickstart.md
  sidebarsLearn.js
  static/img/guides/quickstart_streamlit_result_1.png
Labels: area/learn

#2104 Add @task.kubernetes decorator section
  code-samples/dags/kubepod-operator/kubernetes_decorator_example.py
  learn/kubepod-operator.md
Labels: area/learn

#2139 Add DAG deploy template for GitLab
  astro/ci-cd-templates/gitlab.md
Labels: kind/enhancement

#2146 Remove outdated screenshots
  astro/add-user.md
  static/img/docs/add-workspace-member.png
  static/img/docs/edit-workspace-user.png
  static/img/docs/invite-org-user.png
Labels: error/wrong-info

#2058 Dbt integration tutorial update - Cosmos tutorial
  code-samples/dags/airflow-dbt-cloud/airflow_dbt_simple.py
  code-samples/dags/airflow-dbt/airflow_dbt_bashoperator.py
  code-samples/dags/airflow-dbt/cosmos_dag.py
  learn/airflow-dbt-cloud.md
  learn/airflow-dbt.md
  sidebarsLearn.js
  static/img/guides/cosmos_dag_graph_view.png
  static/img/guides/cosmos_energy_analysis_logs.png
Labels: area/learn

#2103 Add Astronomer provider pre-built XCom backends to XCom backends tutorial
  learn/custom-xcom-backends-tutorial.md
Labels: area/learn

#2116 Update EPO tutorial to use new astro buildkit
  code-samples/dags/external-python-operator/external_python_operator.py
  learn/external-python-operator.md
Labels: area/learn

#2181 [2.6] Add notifiers to the notifications guide
  code-samples/dags/error-notifications-in-airflow/slack_notifier_example_dag.py
  learn/error-notifications-in-airflow.md
  learn/rerunning-dags.md
  static/img/guides/sla_email.png
  static/img/guides/slack_notification.png
Labels: kind/enhancement, new-feature, area/learn

#2163 [2.6] Add ContinuousTimetable to the scheduling guide
  learn/scheduling-in-airflow.md
Labels: kind/enhancement, new-feature, area/learn
