Repository astronomer/docs, pull requests merged in 2023-06, with the labels that each got.

#2367 Update sensors guide with link to academy
  learn/what-is-a-sensor.md
Labels: area/learn

#2375 Update datasets concept guide
  code-samples/dags/airflow-datasets/dataset_consumer.py
  code-samples/dags/airflow-datasets/dataset_downstream_1_2.py
  code-samples/dags/airflow-datasets/dataset_producer.py
  code-samples/dags/airflow-datasets/dataset_upstream1.py
  learn/airflow-datasets.md
Labels: area/learn

#2295 Add info about Workflow API token in REST API
  astro/airflow-api.md
  astro/workspace-api-tokens.md
Labels: product/astro, kind/enhancement

#2373 Simplification of the Databricks Integration tutorial
  code-samples/dags/airflow-databricks/databricks_tutorial_dag.py
  learn/airflow-databricks.md
  static/img/guides/astro_databricks_provider_dag_graph.png
  static/img/guides/databricks_workflow.png
Labels: kind/enhancement, area/learn

#2398 [Tiny PR] Reflect naming of the Examples section in Learn issue template
  .github/ISSUE_TEMPLATE/learn-new-content-template.yaml
Labels: area/learn

#2389 Base PR use case section with Airflow and dbt Core use case
  code-samples/dags/use-case-airflow-dbt/cosmos_energy_dag.py
  learn/use-case-airflow-dbt.md
  sidebarsLearn.js
  static/img/examples/uc_dbt_my_energy_dag_screenshot.png
Labels: kind/new-doc, area/learn

#2348 MLflow and Airflow tutorial
  code-samples/dags/airflow-mlflow/mlflow_tutorial_dag.py
  learn/airflow-mlflow.md
  sidebarsLearn.js
  static/img/guides/airflow-mlflow_dag_graph_view.png
  static/img/guides/airflow-mlflow_experiment_artifacts_in_minio.png
  static/img/guides/airflow-mlflow_experiments.png
  static/img/guides/airflow-mlflow_registered_models.png
  static/img/guides/mlflow_dags.png
  static/img/integrations/mlflow.png
Labels: kind/new-doc, area/learn

#2480 Small update to the debugging guide
  learn/debugging-dags.md
Labels: kind/enhancement, area/learn

#2455 Use case: Databricks
  learn/use-case-airflow-databricks.md
  sidebarsLearn.js
  static/img/examples/use-case-airflow-databricks_dag_graph_full.png
  static/img/examples/use-case-airflow-databricks_shw_graph.png
Labels: kind/new-doc, area/learn

#2492 Small PR: update DuckDB tutorial to provider version 0.2.0
  code-samples/dags/airflow-duckdb/duckdb_tutorial_dag_2.py
  learn/airflow-duckdb.md
  static/img/tutorials/airflow-duckdb_local_connection_ui.png
Labels: area/learn

#2442 Context, Params and Variables guides
  code-samples/dags/airflow-context/context_and_xcom.py
  code-samples/dags/airflow-params/simple_param_dag.py
  code-samples/dags/airflow-params/tdro_example_downstream.py
  code-samples/dags/airflow-params/tdro_example_upstream.py
  learn/airflow-context.md
  learn/airflow-params.md
  learn/airflow-variables.md
  sidebarsLearn.js
  static/img/guides/airflow-params_bool.png
  static/img/guides/airflow-params_cli_param_output.png
  static/img/guides/airflow-params_color_picker.png
  static/img/guides/airflow-params_datetime_picker.png
  static/img/guides/airflow-params_enum_example.png
  static/img/guides/airflow-params_simple_param_dag_trigger_ui.png
  static/img/guides/airflow-params_string_param_example.png
  static/img/guides/airflow-params_trigger_dag_ui.png
  static/img/guides/airflow-params_trigger_dag_ui_500.png
  static/img/guides/airflow-params_trigger_dag_w_config.png
  static/img/guides/airflow-params_trigger_dag_w_config_500.png
  static/img/guides/airflow-variables_UI.png
  static/img/guides/airflow-variables_UI_600.png
  static/img/guides/airflow-variables_variables_in_UI.png
Labels: kind/new-doc, area/learn
