Repository astronomer/docs, pull requests merged in 2023-02, with the labels that each got.

#1814 Test DAGs guide update
  learn/debugging-dags.md
  learn/testing-airflow.md
Labels: area/learn

#1593 Add steps for authenticating to clouds locally using the CLI
  astro/cli/authenticate-to-clouds.md
  astro/secrets-backend.md
  sidebarsAstro.js
  static/astro-cli-release-notes.xml
  static/astro-release-notes.xml
  static/astro-software-release-notes.xml
  static/img/docs/secret_logs.png
Labels: area/learn

#1838 Adding decorator examples to the Branching guide
  learn/airflow-branch-operator.md
  learn/airflow-decorators.md
  static/img/guides/branching_decorator_graph.png
  static/img/guides/short_circuit_decorator_graph.png
Labels: area/learn

#1869 Clarify Python prereq in Get started tutorial
  learn/get-started-with-airflow.md
Labels: kind/quick-fix, area/learn

#1917 fixing import statement for SystemsManagerParameterStoreBackend
  astro/secrets-backend.md
Labels: error/wrong-info, customer-reported, kind/quick-fix

#1911 Learn code spring syntax cleaning: Basics
  code-samples/dags/airflow-decorators/airflow_decorator_example.py
  code-samples/dags/airflow-decorators/airflow_decorator_example_traditional_syntax.py
  code-samples/dags/airflow-decorators/airflow_decorators_sdk_example.py
  code-samples/dags/airflow-decorators/airflow_decorators_traditional_mixing.py
  code-samples/dags/airflow-sql/call_snowflake_sprocs.py
  code-samples/dags/airflow-sql/cat_data_s3_to_snowflake_decorators_dag.py
  code-samples/dags/airflow-sql/cat_data_s3_to_snowflake_traditional_dag.py
  code-samples/dags/airflow-sql/parameterized_query_dag.py
  code-samples/dags/bashoperator/bash_script_example_dag.py
  code-samples/dags/bashoperator/bash_two_commands_example_dag.py
  code-samples/dags/bashoperator/print_ISS_info_dag.py
  code-samples/dags/connections/snowflake_to_slack_dag.py
  code-samples/dags/dags/dags_s3_to_snowflake_example.py
  code-samples/dags/dags/example_dag_basic_taskflow.py
  code-samples/dags/dags/example_dag_basic_traditional.py
  code-samples/dags/managing-dependencies/dependencies_branch_example_taskflow.py
  code-samples/dags/managing-dependencies/dependencies_branch_example_traditional.py
  code-samples/dags/managing-dependencies/dependencies_example_1.py
  code-samples/dags/managing-dependencies/dependencies_example_2_taskflow.py
  code-samples/dags/what-is-a-hook/hook_tutorial_taskflow.py
  code-samples/dags/what-is-a-hook/hook_tutorial_traditional.py
  code-samples/dags/what-is-a-sensor/sensor_decorator_example.py
  code-samples/dags/what-is-a-sensor/sql_sensor_example_taskflow.py
  code-samples/dags/what-is-a-sensor/sql_sensor_example_traditional.py
  code-samples/dags/what-is-an-operator/operator_example_taskflow.py
  code-samples/dags/what-is-an-operator/operator_example_traditional.py
  learn/airflow-branch-operator.md
  learn/airflow-decorators.md
  learn/airflow-sql.md
  learn/bashoperator.md
  learn/connections.md
  learn/custom-airflow-ui-docs-tutorial.md
  learn/dags.md
  learn/managing-dependencies.md
  learn/scheduling-in-airflow.md
  learn/what-is-a-hook.md
  learn/what-is-a-sensor.md
  learn/what-is-an-operator.md
  static/img/guides/branch_2.png
  static/img/guides/s3_to_snowflake_example.png
Labels: area/learn

#1908 Add context around Astronomer providers to deferrables instructions
  learn/deferrable-operators.md
Labels: area/learn

#1924 Add task notes step to DAG docs tutorial
  learn/custom-airflow-ui-docs-tutorial.md
Labels: area/learn

#1934 Learn code spring syntax cleaning: Infrastructure and Advanced
  code-samples/dags/airflow-datasets/dataset_downstream_1_2.py
  code-samples/dags/airflow-datasets/dataset_upstream1.py
  code-samples/dags/airflow-datasets/datasets_ml_example_consume.py
  code-samples/dags/airflow-datasets/datasets_ml_example_publish_taskflow.py
  code-samples/dags/airflow-datasets/datasets_ml_example_publish_traditional.py
  code-samples/dags/airflow-datasets/example_sdk_datasets.py
  code-samples/dags/airflow-pools/pool_example_1_taskflow.py
  code-samples/dags/airflow-pools/pool_example_1_traditional.py
  code-samples/dags/airflow-pools/pool_example_2_taskflow.py
  code-samples/dags/airflow-pools/pool_example_2_traditional.py
  code-samples/dags/data-quality/example_dag_sql_check_operators.py
  code-samples/dags/data-quality/gx_example_dag.py
  code-samples/dags/deferrable-operators/async_dag.py
  code-samples/dags/deferrable-operators/sync_dag.py
  code-samples/dags/dynamically-generating-dags/create_dag_example.py
  code-samples/dags/dynamically-generating-dags/dags_from_connections.py
  code-samples/dags/dynamically-generating-dags/dags_from_var_example.py
  code-samples/dags/kubepod-operator/kpo_example_1.py
  code-samples/dags/kubepod-operator/kpo_haskell_example.py
  code-samples/dags/kubepod-operator/kpo_separate_cluster_example.py
  code-samples/dags/kubepod-operator/kpo_xcom_example_taskflow.py
  code-samples/dags/kubepod-operator/kpo_xcom_example_traditional.py
  code-samples/dags/logging/custom_logs_taskflow.py
  code-samples/dags/logging/custom_logs_traditional.py
  learn/airflow-database.md
  learn/airflow-datasets.md
  learn/airflow-pools.md
  learn/airflow-scaling-workers.md
  learn/airflow-sql-data-quality.md
  learn/data-quality.md
  learn/deferrable-operators.md
  learn/dynamically-generating-dags.md
  learn/kubepod-operator.md
  learn/logging.md
  learn/testing-airflow.md
  learn/using-airflow-plugins.md
  static/img/guides/deferrable_grid_view.png
  static/img/guides/standard_sensor_slot_taking.png
Labels: area/learn
