Repository astronomer/docs, pull requests merged in 2023-08, with the labels that each got.

#2546 Create use-case-airflow-datasets-multi-team-ml.md
  learn/use-case-airflow-datasets-multi-team-ml.md
  sidebarsLearn.js
  static/img/examples/airflowuiview.png
  static/img/examples/datasetsview.png
  static/img/examples/usecaseconsumerproducerfigma.png
Labels: area/learn

#2644 [Tiny PR] Fix typo in OL flag
  astro/runtime-release-notes.md
Labels: error/typo, customer-reported, kind/quick-fix

#2610 Add doc for `astro dev upgrade-test`
  astro/cli/astro-dev-upgrade-test.md
  astro/cli/test-your-astro-project-locally.md
  astro/upgrade-runtime.md
  sidebarsAstro.js
  static/img/docs/cli-upgrade-conflict-error.png
Labels: kind/new-doc, product/cli, new-feature

#2595 Reorg and programmatic access
  astro/automation-authentication.md
  astro/automation-overview.md
  astro/configure-deployment-resources.md
  astro/deployment-file-reference.md
  astro/deployments-as-code-examples.md
  astro/deployments-as-code.md
  astro/secrets-backend.md
  sidebarsAstro.js
Labels: product/astro, kind/new-doc

#2652 Fix link mlflow tutorial
  learn/airflow-mlflow.md
Labels: kind/quick-fix

#2631 Add new instructions for VPC peering
  astro/connect-aws.md
Labels: product/astro, kind/enhancement

#2674 [2.7] Add note about Apprise provider to notifications guide
  learn/error-notifications-in-airflow.md
Labels: status/blocked, kind/enhancement, area/learn

#2670 [2.7] Add deferrable config to the Deferrable operators guide
  learn/deferrable-operators.md
  learn/what-is-a-sensor.md
Labels: status/blocked, kind/enhancement, area/learn

#2675 [2.7] Other small edits due to 2.7 (exkl. UI guide)
  learn/airflow-branch-operator.md
  learn/airflow-components.md
  learn/airflow-executors-explained.md
  learn/airflow-fivetran.md
  learn/airflow-mlflow.md
  learn/airflow-params.md
  learn/airflow-scaling-workers.md
  learn/astro-python-sdk-etl.md
  learn/connections.md
  learn/custom-xcom-backends-tutorial.md
  learn/dags.md
  learn/debugging-dags.md
  learn/external-python-operator.md
  learn/get-started-with-airflow-part-2.md
  learn/get-started-with-airflow.md
  learn/logging.md
  learn/rerunning-dags.md
  learn/templating.md
  learn/testing-airflow.md
  static/img/guides/logging-task_logs_grid_view.gif
  static/img/tutorials/get-started-with-airflow_access_task_instance.gif
  static/img/tutorials/get-started-with-airflow_code_view.png
  static/img/tutorials/get-started-with-airflow_dag_running.png
  static/img/tutorials/get-started-with-airflow_graph_view_dagrun.gif
  static/img/tutorials/get-started-with-airflow_grid_view.png
  static/img/tutorials/get-started-with-airflow_ui_with_starter_dags.png
  static/img/tutorials/get-started-with-airflow_unpause_dag.png
Labels: status/blocked, kind/enhancement, area/learn

#2597 [2.7] Update to the dependencies guide
  code-samples/dags/managing-dependencies/dependencies_example_2_taskflow.py
  learn/managing-dependencies.md
  static/img/guides/basic_dependencies.png
  static/img/guides/chain.png
  static/img/guides/dependency_taskflow.png
  static/img/guides/list_dependencies.png
  static/img/guides/managing-dependencies_basic_dependencies.png
  static/img/guides/managing-dependencies_branch_decorator.png
  static/img/guides/managing-dependencies_branch_traditional.png
  static/img/guides/managing-dependencies_chain_dependencies.png
  static/img/guides/managing-dependencies_chain_dependencies_1.png
  static/img/guides/managing-dependencies_chain_linear_dependencies_1.png
  static/img/guides/managing-dependencies_chain_linear_dependencies_2.png
  static/img/guides/managing-dependencies_dynamic_tasks_decorator.png
  static/img/guides/managing-dependencies_dynamic_tasks_traditional.png
  static/img/guides/managing-dependencies_list_dependencies.png
  static/img/guides/managing-dependencies_task_group_complex.png
  static/img/guides/managing-dependencies_taskflow_1.png
  static/img/guides/managing-dependencies_taskflow_2.png
  static/img/guides/managing-dependencies_tg_dependencies_1.png
Labels: status/blocked, kind/enhancement, area/learn

#2728 [Tiny PR] Import and Export env vars
  astro/import-export-connections-variables.md
  static/img/docs/airflow-ui-export-vars.png
  static/img/docs/airflow-ui-import-vars.png
Labels: kind/quick-fix, kind/enhancement

#2727 [Tiny PR] Learn -> connections -> Redshift
  learn/connections/bigquery.md
  learn/connections/redshift.md
Labels: kind/quick-fix

#2751 [Small update] Why use Datasets section
  learn/airflow-datasets.md
Labels: kind/quick-fix, area/learn
