Repository astronomer/docs, pull requests merged in 2023-07, with the labels that each got.

#2505 Remove note about software worker termination grace period
  learn/airflow-executors-explained.md
Labels: area/learn

#2510 Update notification guide callbacks vs notifiers
  learn/error-notifications-in-airflow.md
Labels: kind/enhancement, area/learn

#2515 Turn SQL check operators guide into a tutorial using the ADE example
  code-samples/dags/airflow-sql-data-quality/sql_data_quality.py
  learn/airflow-sql-data-quality.md
  sidebarsLearn.js
  static/img/tutorials/airflow-sql-data-quality_dag_grid.png
Labels: kind/enhancement, area/learn

#2528 Add W&B logo
  learn/airflow-dbt-cloud.md
  learn/airflow-weights-and-biases.md
  static/img/integrations/wandb_logo.svg
Labels: kind/quick-fix, area/learn

#2519 Update to the GX tutorial
  code-samples/dags/airflow-great-expectations/gx_dag.py
  learn/airflow-great-expectations.md
Labels: kind/enhancement, area/learn

#2527 Title shortening suggestions
  learn/cloud-ide-tutorial.md
  learn/custom-xcom-backends-tutorial.md
  learn/operator-extra-link-tutorial.md
  learn/use-case-airflow-databricks.md
  learn/use-case-airflow-dbt.md
Labels: kind/enhancement, area/learn

#2529 Fix astro registry CLI command docs
  astro/cli/astro-registry-dag-add.md
  astro/cli/astro-registry-provider-add.md
  astro/cli/release-notes.md
  sidebarsAstro.js
Labels: kind/quick-fix, product/cli

#2538 Tiny PR Adding a note about astro dev run being local in the Variables guide
  learn/airflow-variables.md
Labels: kind/quick-fix, area/learn

#2559 Adding fixes to docs for local dev pycharm setup with docker
  learn/pycharm-local-dev.md
  static/img/examples/pycharm_local_dev_complete_setup.png
  static/img/examples/pycharm_local_dev_docker_image.png
  static/img/examples/pycharm_local_dev_docker_image_pull.png
  static/img/examples/pycharm_local_dev_docker_target.png
  static/img/examples/pycharm_local_dev_interpreter.png
  static/img/examples/pycharm_local_dev_interpreter_docker.png
  static/img/examples/pycharm_local_dev_system_interpreter.png
Labels: area/learn

#2562 Update reindex.yml
  .github/workflows/reindex.yml
Labels: kind/quick-fix

#2572 Tiny PR: highlight what not to miss in ENV for cloud auth and remove a typo
  astro/cli/authenticate-to-clouds.md
Labels: kind/quick-fix, product/cli

#2586 Quick Fix - Update PromoBanner Date
  docusaurus.config.js
Labels: error/typo, kind/quick-fix

#2545 Update to the decorators guide
  learn/airflow-decorators.md
Labels: area/learn

#2525 Update Get started tutorial part 2
  learn/get-started-with-airflow-part-2.md
  static/img/guides/T2_AddNewVariable.png
  static/img/guides/T2_AdminVariables.png
  static/img/guides/T2_DAGRunning.png
  static/img/guides/T2_GitHubProvider.png
  static/img/guides/T2_RequirementsFile.png
  static/img/tutorials/T2_AddNewVariable.png
  static/img/tutorials/T2_AdminConnections.png
  static/img/tutorials/T2_AdminVariables.png
  static/img/tutorials/T2_DAGRunning.png
  static/img/tutorials/T2_GitHubConnection.png
  static/img/tutorials/T2_GitHubProvider.png
  static/img/tutorials/T2_GraphView.png
  static/img/tutorials/T2_HTTPConnection.png
  static/img/tutorials/T2_ImportError.png
  static/img/tutorials/T2_RequirementsFile.png
  static/img/tutorials/T2_TwoConnections.png
  static/img/tutorials/get-started-with-airflow-part-2_AdminConnections.png
  static/img/tutorials/get-started-with-airflow-part-2_AdminVariables.png
  static/img/tutorials/get-started-with-airflow-part-2_GitHubConnection.png
  static/img/tutorials/get-started-with-airflow-part-2_GitHubProvider.png
  static/img/tutorials/get-started-with-airflow-part-2_GraphView.png
  static/img/tutorials/get-started-with-airflow-part-2_HTTPConnection.png
  static/img/tutorials/get-started-with-airflow-part-2_ImportError.png
  static/img/tutorials/get-started-with-airflow-part-2_TwoConnections.png
  static/img/tutorials/get-started-with-airflow-part-2_registry_code_copy.png
Labels: kind/enhancement, area/learn

#2574 Tiny PR: update default providers list
  astro/runtime-image-architecture.md
Labels: product/astro, kind/quick-fix

#2583 dbt Cloud, Redshift and Snowflake conns
  learn/connections/azure-data-factory.md
  learn/connections/bigquery.md
  learn/connections/databricks.md
  learn/connections/dbt-cloud.md
  learn/connections/redshift.md
  learn/connections/snowflake.md
  sidebarsLearn.js
  static/img/examples/connection-aws-redshift-iam.png
  static/img/examples/connection-aws-redshift.png
  static/img/examples/connection-dbt-cloud.png
  static/img/examples/connection-snowflake-aws.png
Labels: kind/new-doc, area/learn

#2600 Tiny PR: add link to task group guide from the relevant section in the dynamic tasks guide
  learn/dynamic-tasks.md
Labels: kind/quick-fix, area/learn

#2602 Postgres, MSSQL Server and Azure blob storage
  learn/connections/azure-blob-storage.md
  learn/connections/azure-data-factory.md
  learn/connections/bigquery.md
  learn/connections/ms-sqlserver.md
  learn/connections/postgres.md
  sidebarsLearn.js
  static/img/examples/connection-azure-blob-storage-app-secret.png
  static/img/examples/connection-azure-blob-storage-conn-string.png
  static/img/examples/connection-azure-blob-storage-key.png
  static/img/examples/connection-azure-blob-storage-sas-token.png
  static/img/examples/connection-ms-sqlserver.png
  static/img/examples/connection-postgres.png
  static/img/integrations/azure-blob-storage.png
  static/img/integrations/ms-sqlserver.png
  static/img/integrations/postgres.png
Labels: kind/new-doc
