Repository astronomer/docs, pull requests merged in 2023-12, with the labels that each got.

#3141 update link for hostedbadge
  src/components/HostedBadge/index.js
Labels: error/broken-link, kind/quick-fix, area/docs

#3125 Connections management Astro use case
  astro/astro-use-case/use-case-astro-connections.md
  astro/manage-connections-variables.md
  sidebarsAstro.js
  static/img/docs/use-case-astro-connections_collect_dag.png
  static/img/docs/use-case-astro-connections_conn_all_deployments.png
  static/img/docs/use-case-astro-connections_conn_aws.png
  static/img/docs/use-case-astro-connections_conn_link_deployment_one.png
  static/img/docs/use-case-astro-connections_conn_link_deployment_three.png
  static/img/docs/use-case-astro-connections_conn_link_deployment_two.png
  static/img/docs/use-case-astro-connections_conn_one.png
  static/img/docs/use-case-astro-connections_conn_override_one.png
  static/img/docs/use-case-astro-connections_conn_override_three.png
  static/img/docs/use-case-astro-connections_conn_override_two.png
  static/img/docs/use-case-astro-connections_conn_two.png
  static/img/docs/use-case-astro-connections_conn_zero_deployments.png
  static/img/docs/use-case-astro-connections_gh_secrets.png
  static/img/docs/use-case-astro-connections_gh_variables.png
  static/img/docs/use-case-astro-connections_gh_workflow_dev.png
  static/img/docs/use-case-astro-connections_organization_edit.png
  static/img/docs/use-case-astro-connections_organization_edit_2.png
  static/img/docs/use-case-astro-connections_snowflake.png
  static/img/docs/use-case-astro-connections_upload_dag.png
Labels: kind/new-doc, area/learn

#3172 Typo fixes
  astro/import-export-connections-variables.md
  learn/kubepod-operator.md
Labels: error/typo, area/learn, area/docs

#3092 Create networking overview doc, bump up in sidebar
  astro/authorize-deployments-to-your-cloud.md
  astro/connect-aws.md
  astro/connect-azure.md
  astro/connect-gcp.md
  astro/networking-overview.md
  sidebarsAstro.js
Labels: area/docs

#3014 Add custom vector configmap setup
  software/export-task-logs.md
Labels: area/docs

#3135 Software permissions table
  software/role-permission-reference.md
Labels: product/software, area/docs

#3074 Update Software authentication docs
  astro/release-notes.md
  sidebarsSoftware.js
  software/import-idp-groups.md
  software/integrate-auth-system.md
Labels: product/software, area/docs

#3157 Create dedicated Runtime doc for Software
  astro/runtime-image-architecture.md
  astro/upgrade-runtime.md
  sidebarsSoftware.js
  software/manage-airflow-versions.md
  software/runtime-image-architecture.md
Labels: product/software, area/docs

#3163 Refactor Develop a Project
  astro/cli/airflowignore.md
  astro/cli/customize-dockerfile.md
  astro/cli/develop-project.md
  astro/cli/get-started-cli.md
  astro/cli/private-python-packages.md
  astro/cli/run-airflow-locally.md
  astro/import-export-connections-variables.md
  astro/secrets-backend/aws-paramstore.md
  astro/secrets-backend/aws-secretsmanager.md
  astro/secrets-backend/azure-key-vault.md
  astro/secrets-backend/gcp-secretsmanager.md
  astro/secrets-backend/hashicorp-vault.md
  learn/cloud-ide-tutorial.md
  sidebarsAstro.js
  static/_redirects
Labels: kind/enhancement, area/docs

#3159 2.8 Learn edits
  code-samples/dags/airflow-datasets/dataset_consumer.py
  code-samples/dags/airflow-datasets/dataset_producer.py
  code-samples/dags/airflow-listeners/producer_dag.py
  code-samples/dags/airflow-object-storage-tutorial/object_storage_use_case.py
  code-samples/dags/what-is-an-operator/operator_example_taskflow.py
  code-samples/dags/what-is-an-operator/operator_example_traditional.py
  learn/airflow-branch-operator.md
  learn/airflow-datasets.md
  learn/airflow-decorators.md
  learn/airflow-listeners.md
  learn/airflow-object-storage-tutorial.md
  learn/airflow-params.md
  learn/airflow-passing-data-between-tasks.md
  learn/airflow-ui.md
  learn/custom-airflow-ui-docs-tutorial.md
  learn/custom-xcom-backends-tutorial.md
  learn/error-notifications-in-airflow.md
  learn/external-python-operator.md
  learn/logging.md
  learn/templating.md
  learn/using-airflow-plugins.md
  sidebarsLearn.js
  static/img/tutorials/airflow-listeners_slack_message.png
  static/img/tutorials/airflow-object-storage-tutorial_dag.png
Labels: area/learn

#3188 Update airflow-datasets.md with note about new listeners
  learn/airflow-datasets.md
Labels: area/learn

#3195 Add note about Astro Environment Manager to Connections Learn guide
  learn/connections.md
Labels: area/learn

#3198 Add definition to System Environment Variables
  astro/platform-variables.md
Labels: error/wrong-info, product/astro, area/docs

#3206 Update cloudwatch task doc
  astro/export-cloudwatch.md
Labels: error/misleading, product/astro, area/docs

#3217 Fix openlineage link
  astro/alerts.md
Labels: product/astro, error/broken-link

#3218 Fix openlineage links
  astro/alerts.md
Labels: product/astro, error/broken-link, area/docs

#3219 Runtime 10 table updates
  astro/runtime-image-architecture.md
  software/runtime-image-architecture.md
Labels: error/wrong-info, product/software, area/docs
