Repository astronomer/docs, pull requests merged in 2024-04, with the labels that each got.

#3586 Update cli install links for windows
  astro/cli/install-cli.md
Labels: error/misleading, product/cli, area/docs

#3569 Datadog quick fix
  astro/export-datadog.md
Labels: error/wrong-info, product/astro, kind/quick-fix, status/blocked, area/docs

#3499 Update Intro to Airflow Guide
  code-samples/dags/intro-to-airflow/example_astronauts.py
  learn/intro-to-airflow.md
  static/img/guides/intro-to-airflow_airflow_in_ecosystem.png
  static/img/guides/intro-to-airflow_core_concepts_ui.png
  static/img/guides/intro-to-airflow_data_engineering_prod_overview.png
Labels: kind/enhancement, area/learn

#3590 Update cli install instructions
  astro/cli/install-cli.md
Labels: error/wrong-info, kind/quick-fix, product/cli, area/docs

#3583 Remove links to the forum
  astro/astro-support.md
  astro/office-hours.md
  software/install-aws-standard.md
  software/install-azure-standard.md
  software/install-gcp-standard.md
  software/support.md
Labels: error/misleading, product/software, product/astro, error/broken-link, product/cli, area/docs

#3592 Add custom templating to templating.md
  learn/templating.md
Labels: area/learn

#3595 Add details about deprecated runtimes
  astro/upgrade-runtime.md
Labels: error/misleading, product/astro, area/docs

#3594 Update airflow-openlineage learn doc
  learn/airflow-openlineage.md
Labels: area/learn

#3610 Add link about Astronomer status support
  astro/astro-support.md
Labels: error/misleading, product/astro, kind/quick-fix, area/docs

#3519 [2.9] Update DAGs guide
  code-samples/dags/dags/complex_dag_structure.py
  code-samples/dags/dags/dags_s3_to_snowflake_example.py
  code-samples/dags/dags/example_astronauts_three_tasks.py
  code-samples/dags/dags/example_dag_basic_taskflow.py
  code-samples/dags/dags/example_dag_basic_traditional.py
  learn/airflow-dag-parameters.md
  learn/dags.md
  sidebarsLearn.js
  static/img/guides/dags_acyclic_vs_cyclic.png
  static/img/guides/dags_complex_DAG.png
  static/img/guides/dags_complex_DAG_annotated.png
  static/img/guides/dags_directed_vs_not_directed.png
  static/img/guides/dags_simple_dag_graph.png
  static/img/guides/dags_simple_dag_run_graph.png
  static/img/guides/dags_simple_dag_run_graph_annotated.png
Labels: kind/new-doc, area/learn

#3574 [2.9] Misc Learn updates
  code-samples/dags/dynamic-tasks/mapping_elt_taskflow.py
  code-samples/dags/dynamic-tasks/mapping_elt_traditional.py
  learn/airflow-components.md
  learn/airflow-database.md
  learn/airflow-datasets.md
  learn/airflow-decorators.md
  learn/airflow-isolated-environments.md
  learn/airflow-listeners.md
  learn/airflow-pools.md
  learn/bashoperator.md
  learn/connections.md
  learn/cross-dag-dependencies.md
  learn/custom-airflow-ui-docs-tutorial.md
  learn/debugging-dags.md
  learn/deferrable-operators.md
  learn/dynamic-tasks.md
  learn/dynamically-generating-dags.md
  learn/error-notifications-in-airflow.md
  learn/kubepod-operator.md
  learn/logging.md
  learn/rerunning-dags.md
  learn/scheduling-in-airflow.md
  learn/task-groups.md
  learn/templating.md
  learn/testing-airflow.md
  learn/use-case-airflow-llm-rag-finance.md
  learn/using-airflow-plugins.md
  learn/what-is-a-sensor.md
  learn/what-is-an-operator.md
  sidebarsLearn.js
  static/img/guides/airflow-datasets_dataset_expression_any.png
  static/img/guides/airflow-datasets_in_graph_view.png
  static/img/guides/airflow-datasets_manually_update_dataset.png
  static/img/guides/dag_dependencies.png
  static/img/guides/dags_view_dataset_schedule.png
  static/img/guides/datasets_view_highlight.png
  static/img/guides/datasets_view_overview.png
  static/img/guides/dynamic-tasks-graph_tab_simple.png
  static/img/guides/dynamic-tasks_mapped_task_logs.gif
  static/img/guides/dynamic-tasks_named_mapping_tf.png
  static/img/guides/dynamic-tasks_simple_example.png
  static/img/guides/mapping_elt_graph.png
  static/img/guides/scheduling-in-airflow_dags_view_dataset_dag.png
  static/img/guides/sdk_datasets.png
Labels: kind/enhancement, area/learn

#3618 Astro runtime 11.0
  astro/runtime-release-notes.md
  docs-partials/runtime-image-architecture.mdx
  docs-partials/runtime-lifecycle-table.mdx
  docusaurus.config.js
Labels: product/astro, new-feature, area/docs

#3581 Astro deployment token docs
  astro/cli/astro-deployment-token-create.md
  astro/cli/astro-deployment-token-delete.md
  astro/cli/astro-deployment-token-list.md
  astro/cli/astro-deployment-token-rotate.md
  astro/cli/astro-deployment-token-update.md
  astro/cli/release-notes.md
  sidebarsAstro.js
Labels: product/astro, product/cli, new-feature, area/docs

#3635 Remove phone option astro-support.md
  astro/astro-support.md
Labels: kind/quick-fix, area/docs

#3651 9.10.1 Release notes
  astro/runtime-release-notes.md
Labels: product/astro, area/docs

#3661 Direct users to open ticket
  astro/networking-overview.md
  software/release-lifecycle-policy.md
Labels: error/misleading, product/astro, kind/quick-fix, area/docs

#3675 Fix deployment reference file spacing
  astro/deployment-file-reference.md
Labels: error/typo, product/astro, kind/quick-fix, area/docs

#3671 1.26 CLI Release
  astro/cli/astro-deployment-token-organization-token.md
  astro/cli/astro-deployment-token-workspace-token.md
  astro/cli/astro-workspace-team-list.md
  astro/cli/astro-workspace-token-add.md
  astro/cli/astro-workspace-token-organization-token.md
  astro/cli/release-notes.md
  astro/deployment-api-tokens.md
  astro/workspace-api-tokens.md
  docusaurus.config.js
  sidebarsAstro.js
Labels: product/cli, area/docs

#3679 Add Cloud IDE note
  astro/cloud-ide/configure-project-environment.md
  astro/cloud-ide/deploy-project.md
  astro/cloud-ide/quickstart.md
Labels: error/wrong-info, product/astro, kind/quick-fix, area/docs
