Repository astronomer/docs, pull requests merged in 2024-06, with the labels that each got.

#3809 Fix broken links
  learn/airflow-qdrant.md
  software/create-deployment.md
  software/release-notes.md
Labels: error/broken-link, area/learn, area/docs

#3814 Hotfix wrong link
  astro/cli/overview.md
Labels: error/broken-link, area/docs, product/astro-api

#3804 Ephemeral Storage public preview
  astro/celery-executor.md
  astro/deployment-resources.md
  astro/kubernetes-executor.md
Labels: product/astro, new-feature, area/docs

#3792 [Hold until 6/4] - Create repo steps
  astro/deploy-github-integration.md
  static/img/docs/request-astro-app.png
Labels: product/astro, new-feature, area/docs

#3803 6.4 Base Release notes
  astro/deployment-resources.md
  astro/release-notes.md
Labels: area/docs

#3819 Add hosted badge
  astro/deployment-resources.md
Labels: error/misleading, area/docs

#3566 [2.9 updates] New custom XCom backend content
  code-samples/dags/xcom-backend-tutorial/custom_xcom_backend_test.py
  code-samples/dags/xcom-backend-tutorial/simple_xcom.py
  learn/airflow-great-expectations.md
  learn/airflow-passing-data-between-tasks.md
  learn/airflow-setup-teardown.md
  learn/airflow-snowpark.md
  learn/custom-xcom-backend-strategies.md
  learn/custom-xcom-backends-tutorial.md
  learn/dag-best-practices.md
  sidebarsLearn.js
  static/img/guides/xcom_backend_S3_json.png
  static/img/guides/xcom_backend_aws_connection.png
  static/img/guides/xcom_backend_aws_policy.png
  static/img/guides/xcom_backend_aws_user.png
  static/img/guides/xcom_backend_azure_blob.png
  static/img/guides/xcom_backend_azure_connection.png
  static/img/guides/xcom_backend_connection_secret.png
  static/img/guides/xcom_backend_gcs_connection.png
  static/img/guides/xcom_backend_gcs_json.png
  static/img/guides/xcom_backend_gcs_role.png
  static/img/guides/xcom_backend_gcs_service_account.png
  static/img/guides/xcom_backend_minio_access_key.png
  static/img/guides/xcom_backend_minio_file.png
  static/img/guides/xcom_backend_policy.png
  static/img/guides/xcom_backend_s3_xcoms.png
  static/img/guides/xcom_backend_shared_access_token.png
  static/img/guides/xcom_backend_task_logs_pokemon.png
  static/img/guides/xcom_backend_task_logs_simple.png
  static/img/tutorials/custom-xcom-backends-tutorial_small_big_obj.png
Labels: kind/new-doc, status/blocked, area/learn

#3845 Runtime 11.5.0 Release notes
  astro/runtime-provider-reference.md
  astro/runtime-release-notes.md
  docusaurus.config.js
Labels: area/docs

#3839 Add trigger deploy details
  astro/deploy-code.md
  astro/deploy-github-integration.md
Labels: product/astro, kind/enhancement, new-feature, area/docs

#3848 Add IP Access List docs
  astro/set-up-ip-access.md
  astro/user-permissions.md
  sidebarsAstro.js
Labels: product/astro, new-feature, area/docs

#3843 6.11 Release notes
  astro/release-notes.md
  astro/trial.md
Labels: product/astro, area/docs

#3847 Clarify worker scaling re: Max Worker Count in Deployment Analytics
  astro/deployment-metrics.md
Labels: error/misleading, kind/quick-fix, kind/enhancement, area/docs

#3861 Add an audit logs screencap from the Airflow UI to the logging Learn guide
  learn/logging.md
  static/img/guides/audit-logs-cap.png
Labels: area/learn

#3864 6.18 release notes
  astro/best-practices/cross-deployment-dependencies.md
  astro/deployment-file-reference.md
  astro/environment-variables.md
  astro/manage-connections-variables.md
  astro/manage-env-vars.md
  astro/release-notes.md
Labels: product/astro, area/docs

#3863 Update alerts.md to highlight DAG trigger channel is private preview
  astro/alerts.md
Labels: product/astro, status/blocked, area/docs

#3844 Add tip about minimum required Deployment permissions to run astro deploy
  astro/customize-deployment-roles.md
  astro/set-up-ci-cd.md
Labels: error/misleading, kind/quick-fix, kind/enhancement, area/docs

#3818 Fix dockerfile and code example
  astro/cli/private-python-packages.md
Labels: error/wrong-info, product/cli, area/docs

#3881 Update hypervisor in image
  astro/astro-architecture.md
  static/img/docs/astro-architecture-lightmode.jpg
  static/img/docs/astro-architecture.jpg
Labels: error/misleading, kind/architecture-diagram, area/docs

#3795 [0.35] Deployment rollbacks
  sidebarsSoftware.js
  software/deploy-rollbacks.md
Labels: product/software, area/docs

#3741 [0.35] Local Team docs
  astro/best-practices/cross-deployment-dependencies.md
  astro/release-notes.md
  software/configure-deployment.md
  software/import-idp-groups.md
Labels: product/software, area/docs

#3875 Custom-managed identity
  astro/authorize-deployments-to-your-cloud.md
Labels: new-feature, area/docs

#3878 6.25 release notes
  astro/release-notes.md
  astro/resource-reference-hosted.mdx
Labels: product/astro, area/docs

#3779 Add deploy with API details
  astro/best-practices/deploy-with-api.md
  sidebarsAstro.js
Labels: product/astro, area/docs, product/astro-api

#3801 0.35.0 release notes
  software/release-notes.md
  software/system-components.md
Labels: product/software, area/docs
