Repository astronomer/docs, pull requests merged in 2024-08, with the labels that each got.

#3986 0.35.2 Release Notes
  software/manage-airflow-versions.md
  software/migrate-to-runtime.md
  software/release-notes.md
  software/runtime-version-lifecycle-policy.mdx
  software/version-compatibility-reference.md
  software_versioned_docs/version-0.34/version-compatibility-reference.md
Labels: product/software, area/docs

#3997 Update kubernetes-executor.md to include correct `pod_override` limitations.
  astro/kubernetes-executor.md
Labels: customer-reported, area/docs

#4006 Add custom labels
  astro/universal-metrics-export.md
Labels: product/astro, new-feature, area/docs

#3999 Fix and refactor API changelogs
  api/fern/apis/iam/changelog/2024-07-31.md
  api/fern/apis/platform/changelog/2024-06-11.md
  api/fern/apis/platform/changelog/2024-06-18.md
  api/fern/apis/platform/changelog/2024-07-10.md
  api/fern/apis/platform/changelog/2024-07-31.md
Labels: area/docs, product/astro-api

#4019 Add 11.8 release notes
  astro/runtime-provider-reference.md
  astro/runtime-release-notes.md
  docusaurus.config.js
Labels: product/astro, area/docs
