Repository astronomer/docs, pull requests merged in 2024-07, with the labels that each got.

#3880 [HOLD] Universal metrics export preview
  astro/universal-metrics-export.md
  sidebarsAstro.js
Labels: product/astro, area/docs

#3900 add new metric desc
  astro/universal-metrics-export.md
Labels: product/astro, kind/quick-fix, area/docs

#3877 Trigger rule guide
  code-samples/dags/airflow-trigger-rules/branch_example_taskflow.py
  code-samples/dags/airflow-trigger-rules/branch_example_traditional.py
  learn/airflow-branch-operator.md
  learn/airflow-dag-parameters.md
  learn/airflow-setup-teardown.md
  learn/airflow-trigger-rules.md
  learn/data-quality.md
  learn/debugging-dags.md
  learn/managing-dependencies.md
  learn/use-case-setup-teardown-data-quality.md
  sidebarsLearn.js
  static/img/guides/managing-dependencies_branch_decorator.png
  static/img/guides/managing-dependencies_branch_traditional.png
Labels: area/learn

#3903 7.9 release notes
  astro/deployment-health-incidents.md
  astro/deployment-metrics.md
  astro/release-notes.md
  static/img/docs/analytics-workers.png
Labels: product/astro, area/docs

#3904 3887 remove api key docs and mentions
  astro/api-keys.md
  astro/ci-cd-templates/github-actions-deployment-preview.md
  astro/cli/astro-deployment-service-account.md
  astro/cli/astro-workspace-create.md
  astro/cli/astro-workspace-service-account.md
  astro/cli/astro-workspace-update.md
  astro/deployment-api-tokens.md
  astro/deployment-role-reference.md
  sidebarsAstro.js
Labels: product/astro, area/docs

#3923 Add 0.35 Default config example
  software_configs/0.35/default.yaml
Labels: product/software, area/docs

#3917 0.35.1 release notes
  software/release-lifecycle-policy.md
  software/release-notes.md
  software/runtime-image-architecture.mdx
  software/upgrade-astronomer.md
  software/version-compatibility-reference.md
Labels: product/software, area/docs

#3916 7.16 Release notes
  astro/release-notes.md
Labels: product/astro, area/docs

#3942 CICD Sidebar Nav hotfix
  sidebarsAstro.js
Labels: error/typo, area/docs

#3919 DAG Factory Docs
  learn/dag-factory.md
  learn/dynamically-generating-dags.md
  sidebarsLearn.js
Labels: new-feature, area/learn

#3939 Quick Fix: Astro API Deploy needs separate declaration based on condition
  astro/best-practices/deploy-with-api.md
Labels: kind/quick-fix, product/astro-api

#3931 0.34.3 release notes
  software/release-notes.md
  software/upgrade-astronomer.md
  software_versioned_docs/version-0.34/release-lifecycle-policy.md
  software_versioned_docs/version-0.34/release-notes.md
  software_versioned_docs/version-0.34/upgrade-astronomer.md
  software_versioned_docs/version-0.34/version-compatibility-reference.md
Labels: product/software, area/docs

#3949 Add GenAI academy module note to the MLOps guide
  learn/airflow-mlops.md
Labels: area/learn

#3924 Misc Docs Edits
  astro/authorize-deployments-to-your-cloud.md
  astro/kubernetespodoperator.md
  astro/runtime-image-architecture.mdx
Labels: error/misleading, product/astro, kind/quick-fix, area/docs

#3972 AWS CMWI GA
  astro/authorize-deployments-to-your-cloud.md
Labels: product/astro, area/docs

#3979 1.28.1 Release Notes
  astro/cli/release-notes.md
Labels: product/cli, area/docs

#3891 New doc for cluster policies
  learn/airflow-advanced-cluster-policies.md
  sidebarsLearn.js
  static/img/guides/airflow-advanced-cluster-policies_diagram.png
Labels: area/learn

#3937 Alerting UI Updates
  astro/alerts.md
  static/img/docs/astro_alerts_email_v2.png
  static/img/docs/astro_alerts_pagerduty_v2.png
  static/img/docs/astro_alerts_slack_v2.png
Labels: product/astro, new-feature, area/docs

#3973 UME Docs Improvements
  astro/universal-metrics-export.md
  code-samples/metrics-export/grafana-cloud/grafana-cloud-dash.json
  static/img/docs/ume-example-collapsed.png
  static/img/docs/ume-example-dags.png
  static/img/docs/ume-example-scheduler.png
  static/img/docs/ume-example-worker.png
Labels: product/astro, kind/enhancement, area/docs

#3984 Deployment health alerts
  astro/alerts.md
  astro/deployment-health-incidents.md
Labels: product/astro, new-feature, area/docs

#3983 7.30 Release Notes
  astro/release-notes.md
Labels: area/docs

#3991 Quick Fix - Add clarity about force deploy
  astro/cli/astro-deploy.md
  astro/cli/astro-dev-parse.md
Labels: kind/quick-fix, product/cli, area/docs
