Repository astronomer/docs, pull requests merged in 2024-03, with the labels that each got.

#3502 Fix deprecation date
  astro/api-keys.md
Labels: error/wrong-info, product/astro, kind/quick-fix, area/docs

#3495 Reporting Dashboard alerts
  astro/deployment-metrics.md
  astro/reporting-dash-exports.md
  astro/reporting-dashboard.md
  sidebarsAstro.js
  static/_redirects
  static/img/docs/dash-email-alert.png
  static/img/docs/dash-export-alert.png
  static/img/docs/dash-open-menu.png
Labels: product/astro, kind/enhancement, area/docs

#3523 Change the highlighted links on the Learn overview page
  learn/overview.md
Labels: area/learn

#3514 Find the current astronomer-providers
  docs-partials/runtime-image-architecture.mdx
Labels: error/misleading, product/astro, kind/quick-fix, product/cli, area/docs

#3520 Add note about how to link the user ID back to a user on Astro
  astro/audit-logs.md
Labels: kind/quick-fix, area/docs

#3535 Add webhook export option
  astro/reporting-dash-exports.md
  static/_redirects
Labels: product/astro, kind/enhancement, new-feature, area/docs

#3527 Replace (my|your)?company.com with example.com (rfc6761), fix whitespace
  archived_software_docs/version-0.16/houston-api.md
  archived_software_docs/version-0.16/platform-alerts.md
  archived_software_docs/version-0.23/houston-api.md
  archived_software_docs/version-0.23/platform-alerts.md
  archived_software_docs/version-0.25/houston-api.md
  archived_software_docs/version-0.25/platform-alerts.md
  archived_software_docs/version-0.26/houston-api.md
  archived_software_docs/version-0.27/houston-api.md
  archived_software_docs/version-0.27/install-airgapped.md
  archived_software_docs/version-0.27/platform-alerts.md
  archived_software_docs/version-0.28/airflow-api.md
  archived_software_docs/version-0.28/houston-api.md
  archived_software_docs/version-0.28/install-airgapped.md
  archived_software_docs/version-0.28/platform-alerts.md
  archived_software_docs/version-0.29/airflow-api.md
  archived_software_docs/version-0.29/houston-api.md
  archived_software_docs/version-0.29/install-airgapped.md
  archived_software_docs/version-0.29/platform-alerts.md
  archived_software_docs/version-0.31/airflow-api.md
  archived_software_docs/version-0.31/houston-api.md
  archived_software_docs/version-0.31/install-airgapped.md
  archived_software_docs/version-0.31/integrate-auth-system.md
  archived_software_docs/version-0.31/platform-alerts.md
  astro/api/get-started.md
  astro/cli/private-python-packages.md
  software/airflow-api.md
  software/houston-api.md
  software/install-airgapped.md
  software/integrate-auth-system.md
  software/platform-alerts.md
  software_versioned_docs/version-0.30/airflow-api.md
  software_versioned_docs/version-0.30/houston-api.md
  software_versioned_docs/version-0.30/install-airgapped.md
  software_versioned_docs/version-0.30/platform-alerts.md
  software_versioned_docs/version-0.32/airflow-api.md
  software_versioned_docs/version-0.32/houston-api.md
  software_versioned_docs/version-0.32/install-airgapped.md
  software_versioned_docs/version-0.32/integrate-auth-system.md
  software_versioned_docs/version-0.32/platform-alerts.md
  software_versioned_docs/version-0.33/airflow-api.md
  software_versioned_docs/version-0.33/houston-api.md
  software_versioned_docs/version-0.33/install-airgapped.md
  software_versioned_docs/version-0.33/integrate-auth-system.md
  software_versioned_docs/version-0.33/platform-alerts.md
  src/components/NewsletterForm/index.js
Labels: error/wrong-info, product/software, product/astro, product/cli, area/docs

#3531 Hosted-only badge for Azure WI
  astro/authorize-deployments-to-your-cloud.md
Labels: error/wrong-info, product/astro, kind/quick-fix, area/docs

#3550 Quick fixes - platform launch
  astro/configure-idp.md
  astro/reporting-dash-exports.md
Labels: error/wrong-info, error/typo, product/astro, kind/quick-fix, area/docs

#3555 Fix software code typo
  software/install-airgapped.md
Labels: error/typo, product/software, kind/quick-fix, area/docs

#3557 Add Learning Bytes callouts
  astro/authorize-deployments-to-your-cloud.md
  astro/customize-deployment-roles.md
  astro/reporting-dash-exports.md
  astro/reporting-dashboard.md
Labels: product/astro, kind/enhancement, new-feature, area/docs

#3553 Deployments with deprecated runtimes
  astro/create-deployment.md
  astro/upgrade-runtime.md
  docs-partials/prereqs.mdx
Labels: product/astro, kind/enhancement, new-feature, area/docs

#3462 Update Get Started tutorial Part 1 with the Astronaut DAG
  code-samples/dags/get-started-with-airflow/my_astronauts_dag.py
  learn/get-started-with-airflow.md
  static/img/tutorials/get-started-with-airflow_access_mapped_task_instance.gif
  static/img/tutorials/get-started-with-airflow_access_task_instance.gif
  static/img/tutorials/get-started-with-airflow_code_view.png
  static/img/tutorials/get-started-with-airflow_dag_running.png
  static/img/tutorials/get-started-with-airflow_graph_view_dagrun.gif
  static/img/tutorials/get-started-with-airflow_grid_view.png
  static/img/tutorials/get-started-with-airflow_grid_view_my_astronauts_dag.png
  static/img/tutorials/get-started-with-airflow_ui_with_starter_dags.png
  static/img/tutorials/get-started-with-airflow_unpause_dag.png
Labels: area/learn
