Repository astronomer/docs, pull requests merged in 2024-02, with the labels that each got.

#3352 Fix version in example
  astro/cli/astro-registry-provider-add.md
Labels: error/wrong-info, kind/quick-fix, product/cli, area/docs

#3337 Fix text in note
  software/registry-backend.md
  software_versioned_docs/version-0.32/registry-backend.md
Labels: error/misleading, product/software, area/docs

#3339 Fix runtime version policy wording
  astro/runtime-version-lifecycle-policy.md
  software/runtime-version-lifecycle-policy.md
  software_versioned_docs/version-0.30/runtime-version-lifecycle-policy.md
  software_versioned_docs/version-0.32/runtime-version-lifecycle-policy.md
Labels: error/misleading, product/software, product/astro, area/docs

#3317 Update Deployment Settings and hosted reference docs
  astro/api-keys.md
  astro/astro-glossary.md
  astro/celery-executor.md
  astro/cli/release-notes.md
  astro/configure-worker-queues.md
  astro/create-deployment.md
  astro/deployment-details.md
  astro/deployment-file-reference.md
  astro/deployment-health-incidents.md
  astro/deployment-resources.md
  astro/deployment-settings.md
  astro/executors-overview.md
  astro/kubernetes-executor.md
  astro/kubernetespodoperator.md
  astro/manage-deployments-as-code.md
  astro/manage-workspaces.md
  astro/migration-partials/deployments.mdx
  astro/release-notes.md
  astro/resource-reference-aws-hybrid.md
  astro/resource-reference-azure-hybrid.md
  astro/resource-reference-gcp-hybrid.md
  astro/resource-reference-hosted.md
  astro/set-up-ci-cd.md
  astro/shared-responsibility-model.md
  astro/user-permissions.md
  astro/view-logs.md
  sidebarsAstro.js
  static/_redirects
Labels: error/misleading, product/astro, kind/IA-changes, area/docs

#3378 Update cloudwatch env var name
  astro/export-cloudwatch.md
Labels: error/wrong-info, kind/quick-fix, area/docs

#3341 Reporting Dashboard docs
  astro/reporting-dashboard.md
  sidebarsAstro.js
  static/img/docs/dash-DAG-run-detail.png
  static/img/docs/dash-cost-breakdown.png
  static/img/docs/dash-deployment-detail.png
  static/img/docs/dash-organization-overview.png
  static/img/docs/dash-reporting-data-export.png
Labels: product/astro, kind/new-doc, new-feature, area/docs

#3391 Software hotfixes
  software/deploy-dags.md
Labels: error/misleading, product/software, area/docs

#3388 1.23 CLI Release Docs
  astro/cli/astro-deployment-create.md
  astro/cli/astro-deployment-logs.md
  astro/cli/astro-deployment-update.md
  astro/cli/release-notes.md
  astro/deployment-file-reference.md
  astro/deployment-resources.md
  docusaurus.config.js
Labels: product/astro, product/cli, new-feature, area/docs

#3418 Release notes hotfix part 2
  astro/cli/release-notes.md
Labels: product/cli

#3382 Add a note to the Kafka tutorial about restarting for the `apply_function`
  learn/airflow-kafka.md
Labels: area/learn

#3436 Hotfix: Fix header + add redirects
  astro/resource-reference-hosted.md
  static/_redirects
Labels: product/astro, error/broken-link, kind/quick-fix, area/docs

#3438 Quick Fix - Scripts Not Loading on Production
  archived_software_docs/version-0.29/image-architecture.md
  archived_software_docs/version-0.29/migrate-to-runtime.md
  archived_software_docs/version-0.29/runtime-version-lifecycle-policy.md
  archived_software_docs/version-0.31/ac-cve.md
  archived_software_docs/version-0.31/ac-support-policy.md
  archived_software_docs/version-0.31/create-project.md
  archived_software_docs/version-0.31/customize-image.md
  archived_software_docs/version-0.31/image-architecture.md
  archived_software_docs/version-0.31/install-packages.md
  archived_software_docs/version-0.31/migrate-to-runtime.md
  archived_software_docs/version-0.31/runtime-version-lifecycle-policy.md
  archived_software_docs/version-0.31/single-node-install.md
  archived_software_docs/version-0.31/upgrade-ac.md
  astro/cli/customize-dockerfile.md
  astro/cli/private-python-packages.md
  astro/manage-deployments-as-code.md
  astro/runtime-release-notes.md
  astro/upgrade-runtime.md
  docusaurus.config.js
  software/customize-image.md
  software/manage-airflow-versions.md
  software/runtime-version-lifecycle-policy.md
  software_versioned_docs/version-0.30/ac-cve.md
  software_versioned_docs/version-0.30/ac-support-policy.md
  software_versioned_docs/version-0.30/create-project.md
  software_versioned_docs/version-0.30/customize-image.md
  software_versioned_docs/version-0.30/image-architecture.md
  software_versioned_docs/version-0.30/install-packages.md
  software_versioned_docs/version-0.30/migrate-to-runtime.md
  software_versioned_docs/version-0.30/runtime-version-lifecycle-policy.md
  software_versioned_docs/version-0.30/single-node-install.md
  software_versioned_docs/version-0.30/upgrade-ac.md
  software_versioned_docs/version-0.32/ac-cve.md
  software_versioned_docs/version-0.32/ac-support-policy.md
  software_versioned_docs/version-0.32/create-project.md
  software_versioned_docs/version-0.32/customize-image.md
  software_versioned_docs/version-0.32/image-architecture.md
  software_versioned_docs/version-0.32/install-packages.md
  software_versioned_docs/version-0.32/migrate-to-runtime.md
  software_versioned_docs/version-0.32/runtime-version-lifecycle-policy.md
  software_versioned_docs/version-0.32/single-node-install.md
  software_versioned_docs/version-0.32/upgrade-ac.md
  software_versioned_docs/version-0.33/ac-cve.md
  software_versioned_docs/version-0.33/ac-support-policy.md
  software_versioned_docs/version-0.33/create-project.md
  software_versioned_docs/version-0.33/customize-image.md
  software_versioned_docs/version-0.33/image-architecture.md
  software_versioned_docs/version-0.33/install-packages.md
  software_versioned_docs/version-0.33/manage-airflow-versions.md
  software_versioned_docs/version-0.33/migrate-to-runtime.md
  software_versioned_docs/version-0.33/runtime-version-lifecycle-policy.md
  software_versioned_docs/version-0.33/single-node-install.md
  software_versioned_docs/version-0.33/upgrade-ac.md
Labels: kind/quick-fix

#3483 Fix wake-up command example
  astro/cli/astro-deployment-wake-up.md
Labels: error/wrong-info, error/typo, product/cli, area/docs

#3468 Small Reorg of Configure Workers
  astro/configure-worker-queues.md
Labels: product/astro, kind/quick-fix, area/docs

#3469 Start trial quick fixes
  astro/trial.md
  static/img/docs/start-trial.png
Labels: error/misleading, product/astro, kind/quick-fix, kind/enhancement, area/docs

#3484 Reporting Dashboard - DAG Run Details update
  astro/reporting-dashboard.md
  static/img/docs/dash-DAG-run-detail.png
Labels: product/astro, kind/enhancement, new-feature, area/docs

#3477 Update Airflow alerts doc
  learn/error-notifications-in-airflow.md
Labels: area/learn
