Repository astronomer/docs, pull requests merged in 2024-05, with the labels that each got.

#3680 Add notes about cluster type and networking
  astro/connect-aws.md
  astro/connect-azure.md
  astro/connect-gcp.md
  astro/deployment-details.md
  astro/networking-overview.md
Labels: error/misleading, product/astro, customer-reported, area/docs

#3707 11.3 Runtime release notes draft
  astro/runtime-release-notes.md
  docusaurus.config.js
Labels: product/astro, area/docs

#3715 Miscellaneous docs bugs
  astro/cli/private-python-packages.md
  astro/deployment-resources.md
  astro/upgrade-runtime.md
Labels: error/misleading, product/astro, error/broken-link, product/cli, area/docs

#3744 Fix sidebar syntax
  docusaurus.config.js
Labels: area/docs-site, product/software

#3736 Add yanked versions
  astro/runtime-version-lifecycle-policy.mdx
  astro/upgrade-runtime.md
Labels: error/misleading, product/astro, area/docs

#3753 1.27.1 release notes
  astro/cli/release-notes.md
  docusaurus.config.js
Labels: product/cli, area/docs

#3721 Add note about squash commits
  astro/ci-cd-templates/aws-s3.md
  astro/ci-cd-templates/circleci.md
  astro/ci-cd-templates/gcs.md
  astro/ci-cd-templates/github-actions-deploy-action.md
  astro/ci-cd-templates/gitlab.md
  astro/ci-cd-templates/jenkins.md
  astro/ci-cd-templates/template-overview.md
Labels: product/astro, kind/quick-fix, area/docs

#3440 Add max node clarification
  astro/manage-hybrid-clusters.md
Labels: product/astro, kind/quick-fix, area/docs

#3705 Public Preview docs changes
  astro/best-practices/connections-branch-deploys.md
  astro/ci-cd-templates/github-actions-deploy-action.md
  astro/ci-cd-templates/github-actions-deployment-preview.md
  astro/ci-cd-templates/github-actions-private-network.md
  astro/deploy-github-integration.md
  astro/first-dag-github-actions.md
Labels: product/astro, new-feature, area/docs

#3434 Houston API docs refresh
  astro/cli/private-python-packages.md
  sidebarsSoftware.js
  software/houston-api-examples.md
  software/houston-api.md
Labels: product/software

#3766 5.20 misc docs fixes
  astro/airflow-api.md
  astro/ci-cd-templates/template-overview.md
  astro/cli/astro-deploy.md
  astro/connect-gcp.md
Labels: error/wrong-info, product/astro, kind/quick-fix, product/cli, area/docs

#3398 Astro best practice doc: managing dev deployments
  astro/best-practices/manage-dev-deployments.md
  sidebarsAstro.js
Labels: product/astro

#3777 Quick Fix - Small Update to Netlify Function for Developer Updates Form
  src/components/NewsletterForm/index.js
Labels: kind/quick-fix

#3476 Astronomer Software deployment docs refactor
  sidebarsSoftware.js
  software/clean-up-and-delete-deployment.md
  software/configure-deployment.md
  software/create-deployment.md
  software/deploy-code-overview.md
  software/deployment-resources.md
Labels: product/software

#3782 11.4 Runtime Release
  astro/runtime-provider-reference.md
  astro/runtime-release-notes.md
  docusaurus.config.js
Labels: product/astro, area/docs

#3788 Quick fix for broken links with double slashes
  astro/deploy-github-integration.md
Labels: kind/quick-fix

#3767 Best Practices guide on upgrading Astro Runtime
  astro/best-practices/upgrading-astro-runtime.md
  astro/runtime-version-lifecycle-policy.mdx
  sidebarsAstro.js
  static/img/guides/dag_test_report.png
Labels: product/astro

#3771 Qdrant integration tutorial
  learn/airflow-qdrant.md
  sidebarsLearn.js
  static/img/integrations/qdrant-demo-dag.png
  static/img/integrations/qdrant-logo.png
  static/img/integrations/qdrant-output.png
  static/img/integrations/qdrant-reference-input.png
Labels: area/learn
