Repository astronomer/docs, pull requests merged in 2024-01, with the labels that each got.

#3084 Snowpark Learn PR
  learn/use-case_snowpark_customer_analytics.md
  sidebarsLearn.js
  static/img/use_case_images/snowpark_weaviate_use_case/startfile.py
  static/img/use_case_images/snowpark_weaviate_use_case/use-case-snowpark_weaviate_activeplaybutton_4.png
  static/img/use_case_images/snowpark_weaviate_use_case/use-case-snowpark_weaviate_ca_dag_2.png
  static/img/use_case_images/snowpark_weaviate_use_case/use-case-snowpark_weaviate_chatinteraction_streamlit_5.png.png
  static/img/use_case_images/snowpark_weaviate_use_case/use-case-snowpark_weaviate_filestructure_3.png
  static/img/use_case_images/snowpark_weaviate_use_case/use-case-snowpark_weaviate_streamlitdashboardss1.png
Labels: area/learn

#3210 Add dags only deploy template for private network
  astro/ci-cd-templates/github-actions.md
Labels: error/misleading, product/astro, customer-reported, kind/enhancement, product/cli, area/docs

#3238 Fix `config,yaml` to `config.yaml`
  archived_software_docs/version-0.31/task-usage-metrics.md
  software/task-usage-metrics.md
  software_versioned_docs/version-0.32/task-usage-metrics.md
Labels: error/typo, area/docs

#3223 Add tabs for software and astro
  astro/cli/astro-workspace-create.md
  astro/cli/astro-workspace-switch.md
  astro/cli/astro-workspace-team-list.md
  astro/cli/astro-workspace-team-remove.md
  astro/cli/astro-workspace-team-update.md
  astro/cli/astro-workspace-update.md
Labels: product/software, product/astro, kind/enhancement, product/cli, area/docs

#3228 Create Helm chart compatibility reference for Software
  software/version-compatibility-reference.md
Labels: product/software, kind/enhancement, area/docs

#3186 Add more detail about how connections are saved
  astro/create-and-link-connections.md
Labels: kind/enhancement, area/docs

#3270 Fix link typo
  astro/celery-executor.md
Labels: error/typo, product/astro, area/docs

#3272 Add redirects for 404 errors
  static/_redirects
Labels: kind/quick-fix

#3249 Add secrets backend preview deployment info
  astro/ci-cd-templates/github-actions.md
  astro/ci-cd-templates/template-overview.md
Labels: product/astro, product/cli, new-feature, area/docs

#3306 Runtime 10.2 release notes
  astro/runtime-release-notes.md
  docusaurus.config.js
Labels: product/software, product/astro, area/docs

#3291 Update create-and-link-connections.md
  astro/create-and-link-connections.md
Labels: product/astro, area/docs

#3303 Software 0.33.3
  software/release-notes.md
Labels: product/software, area/docs

#3308 Add allowlist to reference
  astro/domain-allowlist.md
  astro/first-dag-cli.md
  astro/first-dag-github-actions.md
  astro/resource-reference-hosted.md
  sidebarsAstro.js
Labels: kind/new-topic, error/misleading, product/astro, area/docs

#3305 Fix wording about CSM
  astro/runtime-version-lifecycle-policy.md
  software/runtime-version-lifecycle-policy.md
  software_versioned_docs/version-0.30/runtime-version-lifecycle-policy.md
  software_versioned_docs/version-0.32/runtime-version-lifecycle-policy.md
Labels: error/misleading, product/software, product/astro, area/docs

#3292 Astro CLI `build-secret` documentation
  astro/cli/astro-deploy.md
  astro/cli/astro-dev-parse.md
  astro/cli/astro-dev-pytest.md
  astro/cli/astro-dev-restart.md
  astro/cli/astro-dev-start.md
  astro/cli/astro-dev-upgrade-test.md
  astro/cli/private-python-packages.md
  astro/cli/release-notes.md
  docusaurus.config.js
Labels: product/astro, product/cli, new-feature, area/docs

#3329 Hibernation schedule editor - add to user permission table
  astro/user-permissions.md
Labels: error/misleading, product/astro, area/docs

#3253 Update AWS VPC instructions for self service
  astro/connect-aws.md
Labels: product/astro, kind/enhancement, area/docs
